In [ ]:
import psycopg2

## Setup database connection

In [ ]:
conn = psycopg2.connect("dbname=miles user=miles")
cur = conn.cursor()

## Create a table

In [ ]:
# Define a query
query = """
CREATE TABLE alphabet (
    id SERIAL PRIMARY KEY
,   letter CHAR(1)
    );
"""

In [ ]:
# Run the query
cur.execute(query)

In [ ]:
# Save changes to the database
conn.commit()

## Add some rows to the table

In [ ]:
query = """
INSERT INTO
    alphabet
        (letter)
    VALUES
        (%s)
;
"""

cur.execute(query, ['a'])

for letter in ('bcd'):
    cur.execute(query, letter)

conn.commit()

## Retrieve data

In [ ]:
query = """
SELECT
    id
,   letter
FROM
    alphabet
;
"""

cur.execute(query)

In [ ]:
# Return the next row
cur.fetchone()

In [ ]:
# Return the next row
cur.fetchone()

In [ ]:
# Return all remaining rows
cur.fetchall()

## Delete the table

In [ ]:
cur.execute("DROP TABLE alphabet;")
conn.commit()

## Cleanup

In [ ]:
cur.close()  # Close the cursor
conn.close() # Close the connection