In [1]:
import pandas as pd
import numpy as np
from scipy.spatial import distance
from IPython.display import display
%matplotlib inline

In [2]:
movies = ['Matrix','Alien','StarWars','Casablanca','Titanic']
users = ['Alice','Bob','Cindy','Dan','Emily','Frank','Greg']
M = pd.DataFrame([[1, 2, 2, 0, 0],
                  [3, 5, 5, 0, 0],
                  [4, 4, 4, 0, 0],
                  [5, 5, 5, 0, 0],
                  [0, 2, 0, 4, 4],
                  [0, 0, 0, 5, 5],
                  [0, 1, 0, 2, 2]],
                 index=users, columns=movies)
display(M)

       Matrix  Alien  StarWars  Casablanca  Titanic
Alice       1      2         2           0        0
Bob         3      5         5           0        0
Cindy       4      4         4           0        0
Dan         5      5         5           0        0
Emily       0      2         0           4        4
Frank       0      0         0           5        5
Greg        0      1         0           2        2

In [3]:
M.iloc[:,0]

Alice    1
Bob      3
Cindy    4
Dan      5
Emily    0
Frank    0
Greg     0
Name: Matrix, dtype: int64

In [4]:
n_items = M.shape[1]

In [5]:
n_items

5

In [6]:
similarity_matrix = np.zeros((n_items, n_items))
for i in range(n_items):
    for j in range(n_items):
        item_i = M.iloc[:,i].values
        item_j = M.iloc[:,j].values
        similarity_matrix[i, j] = 1 - distance.cosine(item_i, item_j)

In [7]:
np.set_printoptions(precision=3, suppress=True)
print(similarity_matrix)

[[ 1.     0.938  0.971  0.     0.   ]
 [ 0.938  1.     0.966  0.172  0.172]
 [ 0.971  0.966  1.     0.     0.   ]
 [ 0.     0.172  0.     1.     1.   ]
 [ 0.     0.172  0.     1.     1.   ]]

## Challenge: Predict Alice and Dan's ratings for Casablanca.

In [8]:
!pwd

/Users/miles/zi/recommendation-systems/src