In [ ]:
import psycopg2

## Setup database connection

In [ ]:
# Note: if no dbname or user are specified, the default is your username.
conn = psycopg2.connect("dbname=jf.omhover user=jf.omhover")

## Create a cursor

In [ ]:
cur = conn.cursor()

## Create a table

In [ ]:
# Define a query
query = """
CREATE TABLE alphabet (
    id SERIAL PRIMARY KEY
,   letter INT
    );
"""

In [ ]:
# Run the query
cur.execute(query)

In [ ]:
# Save changes to the database
conn.commit()

## Error

* What's wrong with the table that we created?
* How can we fix it?

In [ ]:
# Let's define a query that will fix our alphabet table.
query = """
CREATE TABLE alphabet (
    id SERIAL PRIMARY KEY
,   letter CHAR(1)
    );
"""

In [ ]:
# Run the query
cur.execute(query)

## Error

* Why didn't PostgreSQL let us re-create the table?
* How can we fix it?

In [ ]:
# Resolve the issue that caused the error
cur.execute("DROP TABLE alphabet;")

## Error

* Whoops! We can't proceed until we resolve the failed transaction.
* We'll have to *roll it back* to get going again.

In [ ]:
# Roll back the transaction
conn.rollback()

In [ ]:
# Create a new cursor
cur = conn.cursor()

In [ ]:
# Resolve the issue that caused the error
cur.execute("DROP TABLE alphabet;")

In [ ]:
# Review the original query
print(query)

In [ ]:
# Run the query again
cur.execute(query)

In [ ]:
# Save the changes to the database
conn.commit()

## Add some rows to the table

In [ ]:
# Create a query containing a placeholder (%s) for data.
query = """
INSERT INTO
    alphabet
        (letter)
    VALUES
        (%s)
;
"""

In [ ]:
# Run the query once
cur.execute(query, ['a'])

In [ ]:
# Save the change to the database
conn.commit()

In [ ]:
# Run the query 25 times
for letter in ('bcdefghijklmnopqrstuvwxyz'):
    cur.execute(query, letter)

In [ ]:
# Save all 25 changes to the database
conn.commit()

## Retrieve data

In [ ]:
query = """
SELECT
    id
,   letter
FROM
    alphabet
;
"""

cur.execute(query)

In [ ]:
# Return the next row
cur.fetchone()

In [ ]:
# Return the next row
cur.fetchone()

In [ ]:
# Return all remaining rows
cur.fetchall()

## Delete the table

In [ ]:
cur.execute("DROP TABLE alphabet;")
conn.commit()

## Cleanup

In [ ]:
cur.close()  # Close the cursor
conn.close() # Close the connection