# Pandas

## What is Pandas?
A Python library providing data structures and data analysis tools.

## Huh?
Think of it like Excel for Python that doesn't suck.

In [74]:
#By convention import pandas like:
import pandas as pd
#For fake data.
from numpy.random import randn
import numpy as np

# Series
Think of a Pandas Series as a _labeled_ one-dimensional vector. In fact, it need not be a numeric vector, it can contain arbitrary python objects.

In [76]:
int_series = pd.Series([i + 10 for i in xrange(10)])
int_series.head(10)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [78]:
num_series = pd.Series(randn(10)) #randn(10) samples 10 values at random from a normal distribution of mean 0 and std 1
num_series.head(10)

0    1.135663
1    1.314040
2   -0.661499
3   -0.153684
4    0.739419
5   -2.615328
6   -0.168269
7    1.460761
8    0.277732
9    0.532792
dtype: float64

In [79]:
str_series = pd.Series([x for x in 'abcde'*2])
str_series.head(10)

0    a
1    b
2    c
3    d
4    e
5    a
6    b
7    c
8    d
9    e
dtype: object

In [80]:
fun_series = pd.Series([lambda x: x*i for i in range(10)])
fun_series

0    <function <lambda> at 0x111859f50>
1    <function <lambda> at 0x111859ed8>
2    <function <lambda> at 0x111876050>
3    <function <lambda> at 0x1118760c8>
4    <function <lambda> at 0x111876140>
5    <function <lambda> at 0x1118761b8>
6    <function <lambda> at 0x111876230>
7    <function <lambda> at 0x1118762a8>
8    <function <lambda> at 0x111876320>
9    <function <lambda> at 0x111876398>
dtype: object

# Indexes.
Notice how each series has an index (in this case a relatively meaningless default index).

Pandas can make great use of informative indexes. **Indexes work similarly to a dictionary key**, allowing fast lookups of the data associated with the index.

Indexes can also be exploited for fast group-bys, merges, time-series operations and lots more.

When you're really in the zone with pandas, you'll be thinking a lot about indexes.

In [81]:
indexed_series = pd.Series(randn(5), 
                           index = ['California', 'Alabama', 
                                    'Indiana', 'Montana', 
                                    'Kentucky']) #order of indices maintained
alt_indexed_series = pd.Series(randn(5),
                               index = ['Washington', 'Alabama', 
                                        'Montana', 'Indiana', 
                                        'New York']) #order of indices maintained

series_from_dict = pd.Series({'key1':1,'key0':0,'key5':5,'key3':6,'key2':7}) #dictionaries have no order, indices will be sorted

print indexed_series
print '\n'
print alt_indexed_series
print '\n'
print series_from_dict

California    0.701142
Alabama      -0.557683
Indiana       0.622536
Montana      -0.994779
Kentucky     -0.467291
dtype: float64


Washington    0.907711
Alabama      -1.282512
Montana      -0.396790
Indiana      -0.829517
New York      1.202142
dtype: float64


key0    0
key1    1
key2    7
key3    6
key5    5
dtype: int64

In [82]:
#Pandas uses the index by default to align series for arithmetic!
indexed_series + alt_indexed_series #matching indices will be added!

Alabama      -1.840195
California         NaN
Indiana      -0.206981
Kentucky           NaN
Montana      -1.391569
New York           NaN
Washington         NaN
dtype: float64

In [88]:
indexed_series = pd.Series(randn(5*100), 
                           index = ['California', 'Alabama', 
                                    'Indiana', 'Montana', 
                                    'Kentucky']*100)

#If you have non-unique indexes, you can use them 
#to do groupby operations.
#indexed_series['California']#.head(17)
# indexed_series
indexed_series.groupby(level=0).mean() #will be grouped by state and the mean calculated for each gruop (state)

Alabama      -0.005667
California    0.001511
Indiana      -0.100525
Kentucky      0.025399
Montana      -0.082802
dtype: float64

In [89]:
indexed_series['Alabama'] 
#there are 100 values for each state now, this is different from a dictionary and more like a database

Alabama    0.225034
Alabama    0.020079
Alabama   -0.468262
Alabama   -0.565386
Alabama   -1.094542
Alabama    0.350750
Alabama   -1.080764
Alabama   -1.473899
Alabama   -0.306742
Alabama    0.837218
Alabama   -0.106873
Alabama   -0.342915
Alabama   -0.135453
Alabama   -0.508493
Alabama   -0.266104
Alabama    1.395251
Alabama    0.719174
Alabama    0.481954
Alabama    0.173565
Alabama    0.340326
Alabama   -1.158554
Alabama   -0.560820
Alabama    1.065485
Alabama   -2.119915
Alabama   -0.545640
Alabama   -1.331698
Alabama   -1.372705
Alabama   -0.240095
Alabama   -0.298213
Alabama   -0.015249
             ...
Alabama    2.054248
Alabama    0.287537
Alabama    0.866283
Alabama    0.400542
Alabama   -0.369460
Alabama    1.918724
Alabama    3.369629
Alabama   -0.188720
Alabama   -1.047493
Alabama    0.550994
Alabama    0.845147
Alabama   -0.247363
Alabama   -2.006350
Alabama   -0.915072
Alabama    0.175613
Alabama    0.482148
Alabama   -0.764475
Alabama    2.972561
Alabama    0.952671
Alabama   -0.056092
Alabama    0.102290
Alabama   -1.496303
Alabama   -0.285411
Alabama    0.596091
Alabama    2.291856
Alabama   -0.520860
Alabama    0.073503
Alabama    0.291345
Alabama   -1.097985
Alabama   -0.767234
dtype: float64

In [93]:
#Datetime index
dt_index = pd.date_range('2015-1-1', 
                        '2015-11-1', 
                        freq='M')
#print dt_index
dt_series = pd.Series(randn(10), 
                      index = dt_index)
dt_series #will use last of each month by default, beginning of month by donig 'MS' (Capital! otherwise millisecond)

2015-01-31    0.442694
2015-02-28    0.134530
2015-03-31   -0.928555
2015-04-30   -0.011534
2015-05-31    0.046323
2015-06-30    0.072840
2015-07-31   -0.190810
2015-08-31   -1.017115
2015-09-30    0.778004
2015-10-31   -0.020038
Freq: M, dtype: float64

In [94]:
#Datetime indexes make it easy to transform frequencies etc! Behaves similarly to group_by
dt_series.resample('q').mean()
#note for last quarter the mean is just the same as the October value!

2015-03-31   -0.117110
2015-06-30    0.035876
2015-09-30   -0.143307
2015-12-31   -0.020038
Freq: Q-DEC, dtype: float64

In [95]:
dt_series #still the same, no transformation in place

2015-01-31    0.442694
2015-02-28    0.134530
2015-03-31   -0.928555
2015-04-30   -0.011534
2015-05-31    0.046323
2015-06-30    0.072840
2015-07-31   -0.190810
2015-08-31   -1.017115
2015-09-30    0.778004
2015-10-31   -0.020038
Freq: M, dtype: float64

# DataFrames
Data frames extend the concept of Series to table-like data.

Many Series with shared indices. Looks very much like a database table!

Can also defign column names/indices.

In [96]:
df = pd.DataFrame(randn(10, 5), index=dt_index, columns=[x for x in 'abcde'])
df

                   a         b         c         d         e
2015-01-31 -0.846608  0.381333  0.176758  0.395826 -0.184718
2015-02-28  0.266278 -0.165993 -0.576205 -1.506930  0.512888
2015-03-31  0.231226 -0.300952 -0.362122 -0.109170 -0.386637
2015-04-30  0.670982 -0.221366 -1.969966  0.745566  0.920420
2015-05-31 -0.406993  0.724501  0.803540  1.747242  0.910969
2015-06-30 -2.205920 -0.913378 -0.470239  0.632644  1.462250
2015-07-31 -1.011775  1.330378 -0.054558  0.309354  0.893490
2015-08-31 -0.484996  1.681316  1.680510  0.300566  1.530228
2015-09-30 -0.278782 -0.971238  0.374565  0.887452  2.010646
2015-10-31  0.236437  0.129186  1.272291  0.891786  2.628302

In [97]:
#A dataframes columns are series:
col = df.a
print col
type(col)

2015-01-31   -0.846608
2015-02-28    0.266278
2015-03-31    0.231226
2015-04-30    0.670982
2015-05-31   -0.406993
2015-06-30   -2.205920
2015-07-31   -1.011775
2015-08-31   -0.484996
2015-09-30   -0.278782
2015-10-31    0.236437
Freq: M, Name: a, dtype: float64

pandas.core.series.Series

In [98]:
df['a'] #same as df.a

2015-01-31   -0.846608
2015-02-28    0.266278
2015-03-31    0.231226
2015-04-30    0.670982
2015-05-31   -0.406993
2015-06-30   -2.205920
2015-07-31   -1.011775
2015-08-31   -0.484996
2015-09-30   -0.278782
2015-10-31    0.236437
Freq: M, Name: a, dtype: float64

In [99]:
#So are the rows.
row = df.loc['2015-01-31'] #ix needs to be used for rows instead of direct indexing like for columns
type(row)

pandas.core.series.Series

In [ ]:
# select row by row label
df.loc['2015-01-31']

In [100]:
# select row by index
df.iloc[0] #this means first row

a   -0.846608
b    0.381333
c    0.176758
d    0.395826
e   -0.184718
Name: 2015-01-31 00:00:00, dtype: float64

In [101]:
# select row by either label OR index, tries by label and falls back to index if label not found
print df.ix['2015-01-31']
print df.ix[0]
#note: planned for deprecation!

a   -0.846608
b    0.381333
c    0.176758
d    0.395826
e   -0.184718
Name: 2015-01-31 00:00:00, dtype: float64
a   -0.846608
b    0.381333
c    0.176758
d    0.395826
e   -0.184718
Name: 2015-01-31 00:00:00, dtype: float64

In [102]:
#The columns all have the same index:
col.index

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31'],
              dtype='datetime64[ns]', freq='M')

In [103]:
#What's the index for the rows?
row.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

# DataFrame basics

In [104]:
#New column
df['new'] = df['a'] + df['b']
df['new2'] = 5
df

                   a         b         c         d         e       new  new2
2015-01-31 -0.846608  0.381333  0.176758  0.395826 -0.184718 -0.465275     5
2015-02-28  0.266278 -0.165993 -0.576205 -1.506930  0.512888  0.100286     5
2015-03-31  0.231226 -0.300952 -0.362122 -0.109170 -0.386637 -0.069726     5
2015-04-30  0.670982 -0.221366 -1.969966  0.745566  0.920420  0.449616     5
2015-05-31 -0.406993  0.724501  0.803540  1.747242  0.910969  0.317509     5
2015-06-30 -2.205920 -0.913378 -0.470239  0.632644  1.462250 -3.119299     5
2015-07-31 -1.011775  1.330378 -0.054558  0.309354  0.893490  0.318603     5
2015-08-31 -0.484996  1.681316  1.680510  0.300566  1.530228  1.196320     5
2015-09-30 -0.278782 -0.971238  0.374565  0.887452  2.010646 -1.250019     5
2015-10-31  0.236437  0.129186  1.272291  0.891786  2.628302  0.365622     5

In [105]:
df['a'] + df['b']

2015-01-31   -0.465275
2015-02-28    0.100286
2015-03-31   -0.069726
2015-04-30    0.449616
2015-05-31    0.317509
2015-06-30   -3.119299
2015-07-31    0.318603
2015-08-31    1.196320
2015-09-30   -1.250019
2015-10-31    0.365622
Freq: M, dtype: float64

In [106]:
#Delete a column
df = df.drop('new', axis=1)

In [107]:
df

                   a         b         c         d         e  new2
2015-01-31 -0.846608  0.381333  0.176758  0.395826 -0.184718     5
2015-02-28  0.266278 -0.165993 -0.576205 -1.506930  0.512888     5
2015-03-31  0.231226 -0.300952 -0.362122 -0.109170 -0.386637     5
2015-04-30  0.670982 -0.221366 -1.969966  0.745566  0.920420     5
2015-05-31 -0.406993  0.724501  0.803540  1.747242  0.910969     5
2015-06-30 -2.205920 -0.913378 -0.470239  0.632644  1.462250     5
2015-07-31 -1.011775  1.330378 -0.054558  0.309354  0.893490     5
2015-08-31 -0.484996  1.681316  1.680510  0.300566  1.530228     5
2015-09-30 -0.278782 -0.971238  0.374565  0.887452  2.010646     5
2015-10-31  0.236437  0.129186  1.272291  0.891786  2.628302     5

## Axis?
Because pandas thinks of rows and columns as both being series, anything we can do to rows we can do to columns too. 

Axis describes which one we want to do it to. 0=rows, 1=columns.

In [108]:
lbl = pd.Timestamp('2015-04-30 00:00:00', freq='M')
print lbl
df.drop(lbl, axis=0)

2015-04-30 00:00:00

                   a         b         c         d         e  new2
2015-01-31 -0.846608  0.381333  0.176758  0.395826 -0.184718     5
2015-02-28  0.266278 -0.165993 -0.576205 -1.506930  0.512888     5
2015-03-31  0.231226 -0.300952 -0.362122 -0.109170 -0.386637     5
2015-05-31 -0.406993  0.724501  0.803540  1.747242  0.910969     5
2015-06-30 -2.205920 -0.913378 -0.470239  0.632644  1.462250     5
2015-07-31 -1.011775  1.330378 -0.054558  0.309354  0.893490     5
2015-08-31 -0.484996  1.681316  1.680510  0.300566  1.530228     5
2015-09-30 -0.278782 -0.971238  0.374565  0.887452  2.010646     5
2015-10-31  0.236437  0.129186  1.272291  0.891786  2.628302     5

In [109]:
df #april still there! not done in place!

                   a         b         c         d         e  new2
2015-01-31 -0.846608  0.381333  0.176758  0.395826 -0.184718     5
2015-02-28  0.266278 -0.165993 -0.576205 -1.506930  0.512888     5
2015-03-31  0.231226 -0.300952 -0.362122 -0.109170 -0.386637     5
2015-04-30  0.670982 -0.221366 -1.969966  0.745566  0.920420     5
2015-05-31 -0.406993  0.724501  0.803540  1.747242  0.910969     5
2015-06-30 -2.205920 -0.913378 -0.470239  0.632644  1.462250     5
2015-07-31 -1.011775  1.330378 -0.054558  0.309354  0.893490     5
2015-08-31 -0.484996  1.681316  1.680510  0.300566  1.530228     5
2015-09-30 -0.278782 -0.971238  0.374565  0.887452  2.010646     5
2015-10-31  0.236437  0.129186  1.272291  0.891786  2.628302     5

# Selecting subsets.
There a couple of ways to select a subset of a python data frame.

In [111]:
#To subset the rows, you can use the convenient:
df[df['a'] > 0]

                   a         b         c         d         e  new2
2015-02-28  0.266278 -0.165993 -0.576205 -1.506930  0.512888     5
2015-03-31  0.231226 -0.300952 -0.362122 -0.109170 -0.386637     5
2015-04-30  0.670982 -0.221366 -1.969966  0.745566  0.920420     5
2015-10-31  0.236437  0.129186  1.272291  0.891786  2.628302     5

In [110]:
print df['a'] > 0 #boolean filter!

2015-01-31    False
2015-02-28     True
2015-03-31     True
2015-04-30     True
2015-05-31    False
2015-06-30    False
2015-07-31    False
2015-08-31    False
2015-09-30    False
2015-10-31     True
Freq: M, Name: a, dtype: bool

In [112]:
#Or combine multiple conditions:
df[(df.a > 0) & (df.c < 1)]

                   a         b         c         d         e  new2
2015-02-28  0.266278 -0.165993 -0.576205 -1.506930  0.512888     5
2015-03-31  0.231226 -0.300952 -0.362122 -0.109170 -0.386637     5
2015-04-30  0.670982 -0.221366 -1.969966  0.745566  0.920420     5

In [ ]:
#Selecting a column
df.a
#Works sometimes.

In [ ]:
df['a'] #works always

In [113]:
df[['a', 'b']]
#Or a subset of columns

                   a         b
2015-01-31 -0.846608  0.381333
2015-02-28  0.266278 -0.165993
2015-03-31  0.231226 -0.300952
2015-04-30  0.670982 -0.221366
2015-05-31 -0.406993  0.724501
2015-06-30 -2.205920 -0.913378
2015-07-31 -1.011775  1.330378
2015-08-31 -0.484996  1.681316
2015-09-30 -0.278782 -0.971238
2015-10-31  0.236437  0.129186

# Advanced selection.
The above methods work for simple types of selections, but what if you need something more complex?

In [114]:
df.loc['2015-05-31':'2015-08-31', 'c':'e'] 
#Ranges by label. List arrays + dictionaries together

                   c         d         e
2015-05-31  0.803540  1.747242  0.910969
2015-06-30 -0.470239  0.632644  1.462250
2015-07-31 -0.054558  0.309354  0.893490
2015-08-31  1.680510  0.300566  1.530228

In [ ]:
df #still the same

In [115]:
df.iloc[2:-3,2:5] #Ranges by index number. Like arrays

                   c         d         e
2015-03-31 -0.362122 -0.109170 -0.386637
2015-04-30 -1.969966  0.745566  0.920420
2015-05-31  0.803540  1.747242  0.910969
2015-06-30 -0.470239  0.632644  1.462250
2015-07-31 -0.054558  0.309354  0.893490

In [120]:
#SQL-like queries for row selection.
#Experimental
df.query('a > 0 and c <0')

                   a         b         c         d         e  new2
2015-02-28  0.266278 -0.165993 -0.576205 -1.506930  0.512888     5
2015-03-31  0.231226 -0.300952 -0.362122 -0.109170 -0.386637     5
2015-04-30  0.670982 -0.221366 -1.969966  0.745566  0.920420     5

In [121]:
#Multi Index:
dt_index = pd.date_range('2015-1-1', 
                        '2017-7-1', 
                        freq='m')
df = pd.DataFrame(randn(30,5), index=dt_index)
df

                   0         1         2         3         4
2015-01-31 -0.535791  0.741212  0.867788 -2.024902  0.846819
2015-02-28 -1.622362 -0.309234  0.164147  0.168697 -2.254268
2015-03-31 -1.133287  0.168928 -0.952815  0.323608  2.920357
2015-04-30  0.178241 -0.306686  0.064170 -0.979927 -0.834523
2015-05-31 -1.968483 -1.277794  1.066193 -0.382420 -0.290718
2015-06-30  0.781023 -1.240863 -1.255483  0.832268  0.774164
2015-07-31 -3.321491 -0.778820 -0.127679  1.385645 -1.669771
2015-08-31 -0.828740  1.187341  1.697581  1.613936 -0.119165
2015-09-30  0.341233 -0.345077 -0.079647  0.086032  1.146282
2015-10-31  0.846444  1.193807 -0.263724  0.166357  1.813612
2015-11-30  0.066164  1.028417  0.524384  0.210116  0.969847
2015-12-31  1.336194  1.347069  0.802189 -0.185775 -0.545656
2016-01-31 -1.104260 -1.463384  0.453012 -1.486279  0.225264
2016-02-29  0.768934 -0.267173 -0.630283  1.097591 -0.272719
2016-03-31 -1.208682 -1.297840  0.471523  2.024879  0.973617
2016-04-30 -0.022751  0.312569  0.330565  0.721959 -0.680071
2016-05-31 -1.049961  1.128686  1.112941 -0.293128  0.704891
2016-06-30  0.811932  2.157033  0.616973  0.389412  0.515776
2016-07-31  0.629902  0.192185  1.247504  0.351086 -0.138814
2016-08-31  0.718724  1.879220  2.155553  0.187116  0.410978
2016-09-30  0.456699  1.428370  0.780249  0.167301  0.787859
2016-10-31 -1.253397  0.269338  0.297238  0.170482 -0.295731
2016-11-30 -0.843079  1.849531 -0.591262  1.263450  0.729649
2016-12-31  0.208041 -0.564652  0.657974 -0.227912 -0.691807
2017-01-31  0.407717  0.852207 -0.066151 -1.029298 -0.042013
2017-02-28 -1.998071  2.199234 -1.814880  1.033013  1.544561
2017-03-31  1.012062  2.841362  0.866160 -0.359648  0.982644
2017-04-30 -0.876824  0.014415 -0.239663  0.911420 -0.692965
2017-05-31  2.052894 -0.173046 -0.410427  0.296040 -0.852074
2017-06-30 -1.001109  2.442332  1.556908 -0.629813  1.173664

In [122]:
df['state'] = ['Alabama', 'Alaska' , 'Arizona'] * 10
df.head() #creates new column with old indices

                   0         1         2         3         4    state
2015-01-31 -0.535791  0.741212  0.867788 -2.024902  0.846819  Alabama
2015-02-28 -1.622362 -0.309234  0.164147  0.168697 -2.254268   Alaska
2015-03-31 -1.133287  0.168928 -0.952815  0.323608  2.920357  Arizona
2015-04-30  0.178241 -0.306686  0.064170 -0.979927 -0.834523  Alabama
2015-05-31 -1.968483 -1.277794  1.066193 -0.382420 -0.290718   Alaska

In [123]:
df = df.reset_index()
df = df.set_index(['state', 'index']) #makes state a new index
df.head()

                           0         1         2         3         4
state   index
Alabama 2015-01-31 -0.535791  0.741212  0.867788 -2.024902  0.846819
Alaska  2015-02-28 -1.622362 -0.309234  0.164147  0.168697 -2.254268
Arizona 2015-03-31 -1.133287  0.168928 -0.952815  0.323608  2.920357
Alabama 2015-04-30  0.178241 -0.306686  0.064170 -0.979927 -0.834523
Alaska  2015-05-31 -1.968483 -1.277794  1.066193 -0.382420 -0.290718

In [124]:
#can now select by state
df.loc['Alabama'].head()

                   0         1         2         3         4
index
2015-01-31 -0.535791  0.741212  0.867788 -2.024902  0.846819
2015-04-30  0.178241 -0.306686  0.064170 -0.979927 -0.834523
2015-07-31 -3.321491 -0.778820 -0.127679  1.385645 -1.669771
2015-10-31  0.846444  1.193807 -0.263724  0.166357  1.813612
2016-01-31 -1.104260 -1.463384  0.453012 -1.486279  0.225264

In [125]:
df.loc['2015-01-31'] #Doesn't work. Date is not priary index anymore!

KeyError: 'the label [2015-01-31] is not in the [index]'

In [126]:
df.loc[('Alabama', '2015-01-31')] #Can do this.

0   -0.535791
1    0.741212
2    0.867788
3   -2.024902
4    0.846819
Name: (Alabama, 2015-01-31 00:00:00), dtype: float64

In [133]:
#Can also have multi-index in columns.
df.reset_index().set_index(['index', 'state']).unstack().head() #unstack() pivots the table
#Pivot a level of the (necessarily hierarchical) index labels, 
#returning a DataFrame having a new level of column labels 
#whose inner-most level consists of the pivoted index labels.

                   0                             1                      \
state        Alabama    Alaska   Arizona   Alabama    Alaska   Arizona
index
2015-01-31 -0.535791       NaN       NaN  0.741212       NaN       NaN
2015-02-28       NaN -1.622362       NaN       NaN -0.309234       NaN
2015-03-31       NaN       NaN -1.133287       NaN       NaN  0.168928
2015-04-30  0.178241       NaN       NaN -0.306686       NaN       NaN
2015-05-31       NaN -1.968483       NaN       NaN -1.277794       NaN

                   2                             3                      \
state        Alabama    Alaska   Arizona   Alabama    Alaska   Arizona
index
2015-01-31  0.867788       NaN       NaN -2.024902       NaN       NaN
2015-02-28       NaN  0.164147       NaN       NaN  0.168697       NaN
2015-03-31       NaN       NaN -0.952815       NaN       NaN  0.323608
2015-04-30  0.064170       NaN       NaN -0.979927       NaN       NaN
2015-05-31       NaN  1.066193       NaN       NaN -0.382420       NaN

                   4
state        Alabama    Alaska   Arizona
index
2015-01-31  0.846819       NaN       NaN
2015-02-28       NaN -2.254268       NaN
2015-03-31       NaN       NaN  2.920357
2015-04-30 -0.834523       NaN       NaN
2015-05-31       NaN -0.290718       NaN

In [128]:
df.head(15) #same old, not in place

                           0         1         2         3         4
state   index
Alabama 2015-01-31 -0.535791  0.741212  0.867788 -2.024902  0.846819
Alaska  2015-02-28 -1.622362 -0.309234  0.164147  0.168697 -2.254268
Arizona 2015-03-31 -1.133287  0.168928 -0.952815  0.323608  2.920357
Alabama 2015-04-30  0.178241 -0.306686  0.064170 -0.979927 -0.834523
Alaska  2015-05-31 -1.968483 -1.277794  1.066193 -0.382420 -0.290718
Arizona 2015-06-30  0.781023 -1.240863 -1.255483  0.832268  0.774164
Alabama 2015-07-31 -3.321491 -0.778820 -0.127679  1.385645 -1.669771
Alaska  2015-08-31 -0.828740  1.187341  1.697581  1.613936 -0.119165
Arizona 2015-09-30  0.341233 -0.345077 -0.079647  0.086032  1.146282
Alabama 2015-10-31  0.846444  1.193807 -0.263724  0.166357  1.813612
Alaska  2015-11-30  0.066164  1.028417  0.524384  0.210116  0.969847
Arizona 2015-12-31  1.336194  1.347069  0.802189 -0.185775 -0.545656
Alabama 2016-01-31 -1.104260 -1.463384  0.453012 -1.486279  0.225264
Alaska  2016-02-29  0.768934 -0.267173 -0.630283  1.097591 -0.272719
Arizona 2016-03-31 -1.208682 -1.297840  0.471523  2.024879  0.973617

# split-apply-combine
* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

Similar to SQL aggregation functions

In [140]:
df.groupby(level=0).mean() #level=0 is state

                0         1         2         3         4
state
Alabama -0.505221  0.102684  0.256306 -0.181346 -0.146819
Alaska  -0.470398  0.724518  0.327395  0.519441  0.057098
Arizona  0.160411  0.693666  0.346403  0.242035  0.803690

In [141]:
#same thing:
df.groupby(level=0).apply(np.mean) #level=0 is state
#groupby_object.apply(function to apply to each group)

                0         1         2         3         4
state
Alabama -0.505221  0.102684  0.256306 -0.181346 -0.146819
Alaska  -0.470398  0.724518  0.327395  0.519441  0.057098
Arizona  0.160411  0.693666  0.346403  0.242035  0.803690

In [142]:
df.groupby(level=1).mean().head() #Groupby index #level=1 is date

                   0         1         2         3         4
index
2015-01-31 -0.535791  0.741212  0.867788 -2.024902  0.846819
2015-02-28 -1.622362 -0.309234  0.164147  0.168697 -2.254268
2015-03-31 -1.133287  0.168928 -0.952815  0.323608  2.920357
2015-04-30  0.178241 -0.306686  0.064170 -0.979927 -0.834523
2015-05-31 -1.968483 -1.277794  1.066193 -0.382420 -0.290718

In [146]:
#Groupby doesn't have to be on index. Can be on any regular column!
df.reset_index().head().groupby('state').mean().head()
#'state' could be replaced with a list of columns to group on, say ['state','city']

                0         1         2         3         4
state
Alabama -0.178775  0.217263  0.465979 -1.502415  0.006148
Alaska  -1.795423 -0.793514  0.615170 -0.106862 -1.272493
Arizona -1.133287  0.168928 -0.952815  0.323608  2.920357

In [149]:
#Split 
g = df.groupby(level=0)
#create groupby object

In [150]:
#Apply
#If one row for each index.
#g.aggregate(np.mean)
g.mean()

                0         1         2         3         4
state
Alabama -0.505221  0.102684  0.256306 -0.181346 -0.146819
Alaska  -0.470398  0.724518  0.327395  0.519441  0.057098
Arizona  0.160411  0.693666  0.346403  0.242035  0.803690

In [151]:
g.apply(np.mean)

                0         1         2         3         4
state
Alabama -0.505221  0.102684  0.256306 -0.181346 -0.146819
Alaska  -0.470398  0.724518  0.327395  0.519441  0.057098
Arizona  0.160411  0.693666  0.346403  0.242035  0.803690

## A bit more fancy:

In [152]:
g.apply(lambda x: (x - x.mean())/x.std()).head()
#standardize each cell using group mean and std

                           0         1         2         3         4
state   index
Alabama 2015-01-31 -0.024834  0.806257  1.234814 -1.634318  1.029911
Alaska  2015-02-28 -0.860935 -0.891156 -0.134074 -0.513305 -2.142699
Arizona 2015-03-31 -1.377577 -0.340099 -1.499886  0.108244  2.124151
Alabama 2015-04-30  0.555216 -0.516905 -0.387995 -0.707945 -0.712807
Alaska  2015-05-31 -1.119613 -1.726113  0.606771 -1.319851 -0.322435

In [223]:
df['average']=df.mean(axis=1)
df.describe()

               0          1          2          3          4    average
count  30.000000  30.000000  30.000000  30.000000  30.000000  30.000000
mean   -0.271736   0.506956   0.310035   0.193377   0.237990   0.195324
std     1.181695   1.198226   0.877845   0.895514   1.063416   0.521187
min    -3.321491  -1.463384  -1.814880  -2.024902  -2.254268  -0.902423
25%    -1.090685  -0.308597  -0.211667  -0.276824  -0.483175  -0.098198
50%     0.021707   0.290954   0.391788   0.178799   0.318121   0.192735
75%     0.696519   1.308754   0.850167   0.804690   0.939090   0.557540
max     2.052894   2.841362   2.155553   2.024879   2.920357   1.070318

In [226]:
stacked_df=df.stack()
stacked_df.head(30)
#stacked_df.describe()

state    index
Alabama  2015-01-31  0         -0.535791
                     1          0.741212
                     2          0.867788
                     3         -2.024902
                     4          0.846819
                     average   -0.020975
Alaska   2015-02-28  0         -1.622362
                     1         -0.309234
                     2          0.164147
                     3          0.168697
                     4         -2.254268
                     average   -0.770604
Arizona  2015-03-31  0         -1.133287
                     1          0.168928
                     2         -0.952815
                     3          0.323608
                     4          2.920357
                     average    0.265358
Alabama  2015-04-30  0          0.178241
                     1         -0.306686
                     2          0.064170
                     3         -0.979927
                     4         -0.834523
                     average   -0.375745
Alaska   2015-05-31  0         -1.968483
                     1         -1.277794
                     2          1.066193
                     3         -0.382420
                     4         -0.290718
                     average   -0.570644
dtype: float64

In [160]:
#df.describe()
g.apply(lambda x: x.describe())
#describe each group as if it was its own dataframe

                       0          1          2          3          4
state
Alabama count  10.000000  10.000000  10.000000  10.000000  10.000000
        mean   -0.505221   0.102684   0.256306  -0.181346  -0.146819
        std     1.230983   0.791965   0.495202   1.128028   0.964781
        min    -3.321491  -1.463384  -0.263724  -2.024902  -1.669771
        25%    -1.047401  -0.226411  -0.112297  -1.016955  -0.689741
        50%    -0.279271   0.230761   0.180704   0.168420  -0.217273
        75%     0.350348   0.634052   0.422400   0.629241   0.158445
        max     0.846444   1.193807   1.247504   1.385645   1.813612
Alaska  count  10.000000  10.000000  10.000000  10.000000  10.000000
        mean   -0.470398   0.724518   0.327395   0.519441   0.057098
        std     1.338038   1.160012   1.217590   0.683305   1.078717
        min    -1.998071  -1.277794  -1.814880  -0.382420  -2.254268
        25%    -1.479262  -0.243642  -0.546053   0.173302  -0.286218
        50%    -0.835909   1.078551   0.344266   0.253078   0.145906
        75%     0.555584   1.683983   1.101254   1.081446   0.723459
        max     2.052894   2.199234   2.155553   1.613936   1.544561
Arizona count  10.000000  10.000000  10.000000  10.000000  10.000000
        mean    0.160411   0.693666   0.346403   0.242035   0.803690
        std     0.939111   1.542898   0.866211   0.753600   0.996477
        min    -1.208682  -1.297840  -1.255483  -0.629813  -0.691807
        25%    -0.698822  -0.509758   0.058146  -0.217378   0.580373
        50%     0.398966   0.757999   0.637474   0.126666   0.880738
        75%     0.804205   1.974867   0.796704   0.372961   1.105373
        max     1.336194   2.841362   1.556908   2.024879   2.920357

# Skip the following three cells

In [ ]:
#.transform() returns an object of the same shape as original df being grouped
# a transform should be a reducing function and needs to return a scalar; 
#i.e. it returns a value for each value in the frame
# apply can handle a transform or an arbitrary return for each group
#print df.head()
#print g.apply(lambda x: (x - x.mean())/x.std()).head()
#print g.transform(lambda x: (x - x.mean())/x.std()).head()

In [ ]:
#Different index than I started with.
#g.apply(lambda x: x.describe()) #cannot use transform here because result different shape and index than original df

In [ ]:
#df

# Reading and writing data.

In [168]:
df.to_csv('saved_data.csv', sep='\t') #saves DF as tsv file

In [169]:
read = pd.read_csv('saved_data.csv', sep='\t')
#TONS OF options for reading data

In [ ]:
"""Other methods:
pd.read_excel
pd.read_sql
pd.read_stata
...
"""

# Other very useful things.

join, concat and merge

In [179]:
state_df = pd.DataFrame({'governor':['Robert Bentley',
                                    'Bill Walker',
                                    'Doug Ducey',
                                    'Asa Hutchinson']}, 
                        index=['Alaska', 'Alabama', 'Arizona', 'Arkansas'])
state_df.head()

                governor
Alaska    Robert Bentley
Alabama      Bill Walker
Arizona       Doug Ducey
Arkansas  Asa Hutchinson

In [180]:
#Note merge is most useful when you want to merge on something other than the index.
#Default is to merge on common column names.
pd.merge(df.reset_index(), state_df, 
          left_on='state', right_index=True, how='left').tail() 
#left: use only keys from left frame, similar to a SQL left outer join; preserve key order
#it tries to match the "state" field from the left DF (left_on) with the right index (right_index=True)
#if we want to merge on two columns we would use left_on and right_on. 
#If we want to merge on two indices we would set left_index and right_index to True. 
# Latter is the same as .join() (see below)

,state,index,0,1,2,3,4,average,governor
25,Alaska,2017-02-28,-1.998071,2.199234,-1.814880,1.033013,1.544561,NaN,Robert Bentley
26,Arizona,2017-03-31,1.012062,2.841362,0.866160,-0.359648,0.982644,NaN,Doug Ducey
27,Alabama,2017-04-30,-0.876824,0.014415,-0.239663,0.911420,-0.692965,NaN,Bill Walker
28,Alaska,2017-05-31,2.052894,-0.173046,-0.410427,0.296040,-0.852074,NaN,Robert Bentley
29,Arizona,2017-06-30,-1.001109,2.442332,1.556908,-0.629813,1.173664,NaN,Doug Ducey

In [181]:
state_avg = df.groupby(level=0).mean()
state_avg.head()

                0         1         2         3         4  average
state
Alabama -0.505221  0.102684  0.256306 -0.181346 -0.146819      NaN
Alaska  -0.470398  0.724518  0.327395  0.519441  0.057098      NaN
Arizona  0.160411  0.693666  0.346403  0.242035  0.803690      NaN

In [182]:
#Concat allows joining along the axes.
pd.concat([state_avg, state_df], axis=1)
#there are no values for Arkansas in the original df or the state_avg df, 
#but there is a value for the governor in state_df

,0,1,2,3,4,average,governor
Alabama,-0.505221,0.102684,0.256306,-0.181346,-0.146819,NaN,Bill Walker
Alaska,-0.470398,0.724518,0.327395,0.519441,0.057098,NaN,Robert Bentley
Arizona,0.160411,0.693666,0.346403,0.242035,0.803690,NaN,Doug Ducey
Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,Asa Hutchinson

In [183]:
#Join also works. Just like merge, but 
#default is to join on indexes.
state_avg.join(state_df, how='left') #ignores Akransas because left join, and left df has no Arkansas

,0,1,2,3,4,average,governor
state,,,,,,,
Alabama,-0.505221,0.102684,0.256306,-0.181346,-0.146819,NaN,Bill Walker
Alaska,-0.470398,0.724518,0.327395,0.519441,0.057098,NaN,Robert Bentley
Arizona,0.160411,0.693666,0.346403,0.242035,0.803690,NaN,Doug Ducey

# Exploratory Data Analysis with Pandas
## More on this next week!

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('data/playgolf.csv', delimiter='|' )
print df

# Describe the continuous variables

In [ ]:
df['Windy'] = df["Windy"].astype('bool')
df.describe().T
#describes numerical fields

Can see the general pattern of Temperature and Humidity

## We can make use of df.plot() to produce simple graphs that calls on the more adjustable Matplotlib library

In [ ]:
import seaborn as sns
df.hist(['Temperature','Humidity'],bins=[60,66,72,80,90])

In [ ]:
df[['Temperature','Humidity']].plot(kind='box')

### Scatterplots for examining bivariate relationships

In [ ]:
reload(plt)
df.plot('Temperature', 'Humidity', kind='scatter')

### If we want to color the scatterplots according to a category, it requires a bit of matplotlib...ugh!
### more on matplotlib later!

In [ ]:
groups=df.groupby('Outlook')
for name, group in groups:
    print name

In [ ]:
sns.set()
fig, ax = plt.subplots()

ax.margins(0.05)
for name, group in groups:
    ax.plot(group.Temperature, group.Humidity, marker='o', linestyle='', ms=12, label=name)
ax.legend(numpoints=1, loc='lower right')

plt.show()

# What about the categorical variables? Frequency tables and relative frequency tables

### Simply df.value_counts() gets you the frequencies

In [ ]:
df['Outlook'].value_counts()

### Using apply will get you the value counts for multiple columns at once

In [ ]:
df[['Outlook','Result']].apply(lambda x: x.value_counts())

### Contingency Tables for looking at bivariate relationships between two categorical variables

In [ ]:
pd.crosstab(df['Outlook'],df['Result'])

### Often we want the row percentages

In [ ]:
pd.crosstab(df['Outlook'], df['Result']).apply(lambda r: r/r.sum(), axis=1)

### Or the column percentages

In [ ]:
pd.crosstab(df['Outlook'], df['Result']).apply(lambda c: c/c.sum(), axis=0)

# Enough...lets get to the pair sprint

https://www.youtube.com/watch?v=yGf6LNWY9AI