# Exercise

You're given a file called `playgolf.csv` in the data folder.  The file is comma delimited and the first row is the header.  Without opening and looking at the file, create a table and insert the data. Here is the header and first row:


|Date|Outlook|Temperature|Humidity|Windy|Result|
|----|-------|-----------|--------|-----|------|
|07-01-2014|sunny|85|85|false|Don't Play|

# Solution

In [1]:
# Create Connection Object
import psycopg2
import getpass

upass = getpass.getpass()
conn = psycopg2.connect(database="golf", user="ender", password=upass, host="localhost", port="5432")
cur = conn.cursor()

········

In [2]:
# Create Table
query = '''
        CREATE TABLE golf2 (
            Date date, 
            Outlook varchar, 
            Temperature integer,
            Humidity integer,
            Windy bool,
            Result varchar
        );
        '''
cur.execute(query)

In [3]:
# Insert Data
query = '''INSERT INTO golf2 VALUES (%s, %s, %s, %s, %s, %s)'''
cur.execute(query, ('07-01-2014', 'sunny', '85', '85', 'false', "don't play"))

# Pass data to fill a query placeholders and let Psycopg perform
# the correct conversion (no more SQL injections!)

In [4]:
# Query Table
cur.execute("SELECT * FROM golf2")
cur.fetchall()

[(datetime.date(2014, 7, 1), 'sunny', 85, 85, False, "don't play")]

In [5]:
cur.execute("SELECT result FROM golf2 WHERE Outlook = 'sunny'")
cur.fetchall()

[("don't play",)]

In [6]:
# Insert Data From CSV
import csv
import os
path = os.getcwd()

query = '''INSERT INTO golf2 VALUES (%s, %s, %s, %s, %s, %s)'''

with open('playgolf.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # Skip the header row.
    for row in reader:
        cur.execute(query, row)
conn.commit()

In [7]:
cur.execute("SELECT * FROM golf2")
cur.fetchall()

[(datetime.date(2014, 7, 1), 'sunny', 85, 85, False, "don't play"),
 (datetime.date(2014, 7, 1), 'sunny', 85, 85, False, "Don't Play"),
 (datetime.date(2014, 7, 2), 'sunny', 80, 90, True, "Don't Play"),
 (datetime.date(2014, 7, 3), 'overcast', 83, 78, False, 'Play'),
 (datetime.date(2014, 7, 4), 'rain', 70, 96, False, 'Play'),
 (datetime.date(2014, 7, 5), 'rain', 68, 80, False, 'Play'),
 (datetime.date(2014, 7, 6), 'rain', 65, 70, True, "Don't Play"),
 (datetime.date(2014, 7, 7), 'overcast', 64, 65, True, 'Play'),
 (datetime.date(2014, 7, 8), 'sunny', 72, 95, False, "Don't Play"),
 (datetime.date(2014, 7, 9), 'sunny', 69, 70, False, 'Play'),
 (datetime.date(2014, 7, 10), 'rain', 75, 80, False, 'Play'),
 (datetime.date(2014, 7, 11), 'sunny', 75, 70, True, 'Play'),
 (datetime.date(2014, 7, 12), 'overcast', 72, 90, True, 'Play'),
 (datetime.date(2014, 7, 13), 'overcast', 81, 75, False, 'Play'),
 (datetime.date(2014, 7, 14), 'rain', 71, 80, True, "Don't Play")]

In [8]:
cur.close() # This is optional
conn.close() # Closing the connection also closes all cursors