# Spark SQL

What is Spark SQL?

- Spark SQL takes basic RDDs and puts a schema on them.

What are schemas?

- Schema = Table Names + Column Names + Column Types

What are the pros of schemas?

- Schemas enable using column names instead of column positions
- Schemas enable queries using SQL and DataFrame syntax
- Schemas make your data more structured.

## Pop Quiz

<details><summary>
What are the cons of schemas?
</summary>
1. Schemas make your data more structured.
<br>
2. They make things less flexible.
<br>
3. Y2K was a schema-problem.
</details>

## Start Spark SQL

How can I start using Spark SQL?

- Create a SparkContext.

In [1]:
import pyspark

In [2]:
sc = pyspark.SparkContext()

sc

- Create a HiveContext.

In [3]:
sqlContext = pyspark.HiveContext(sc)

sqlContext

What is the difference between SparkContext and HiveContext?

- HiveContext gives you access to the metadata stored in Hive.
- This enables Spark SQL to interact with tables created in Hive.
- Hive tables can be backed by HDFS files, S3, HBase, and other data sources.

## RDDs, DataFrames, and schemas

What is a DataFrame?

- DataFrames are the primary abstraction in Spark SQL.
- Think of a DataFrames as RDDs with schema. 

What is a schema?

- Schemas are metadata about your data.
- Schemas define table names, column names, and column types over your data.
- Schemas enable using SQL and DataFrame syntax to query your RDDs, instead of using column positions.

## Spark SQL using CSV

How can I pull in my CSV data and use Spark SQL on it?

In [4]:
%%writefile sales.csv
#ID,Date,Store,State,Product,Amount
101,11/13/2014,100,WA,331,300.00
104,11/18/2014,700,OR,329,450.00
102,11/15/2014,203,CA,321,200.00
106,11/19/2014,202,CA,331,330.00
103,11/17/2014,101,WA,373,750.00
105,11/19/2014,202,CA,321,200.00

Writing sales.csv

In [5]:
!cat sales.csv

#ID,Date,Store,State,Product,Amount
101,11/13/2014,100,WA,331,300.00
104,11/18/2014,700,OR,329,450.00
102,11/15/2014,203,CA,321,200.00
106,11/19/2014,202,CA,331,330.00
103,11/17/2014,101,WA,373,750.00
105,11/19/2014,202,CA,321,200.00

- Read the file and convert columns to right types.

In [6]:
rdd = sc.textFile('sales.csv')\
    .filter(lambda line: not line.startswith('#'))\
    .map(lambda line: line.split(','))\
    .map(lambda (id, date, store, state, product, amount):\
        (int(id), date, int(store), state, int(product), float(amount)))

In [7]:
rdd.collect()

[(101, u'11/13/2014', 100, u'WA', 331, 300.0),
 (104, u'11/18/2014', 700, u'OR', 329, 450.0),
 (102, u'11/15/2014', 203, u'CA', 321, 200.0),
 (106, u'11/19/2014', 202, u'CA', 331, 330.0),
 (103, u'11/17/2014', 101, u'WA', 373, 750.0),
 (105, u'11/19/2014', 202, u'CA', 321, 200.0)]

- Import data types.

In [8]:
from pyspark.sql.types import *

- Define a schema.

In [9]:
schema = StructType( [
    StructField('id', IntegerType(), True),
    StructField('date', StringType(), True),
    StructField('store', IntegerType(), True),
    StructField('state', StringType(), True),
    StructField('product', IntegerType(), True),
    StructField('amount', FloatType(), True)
] )

- Define the DataFrame object.

In [10]:
df = sqlContext.createDataFrame(rdd, schema)

In [11]:
df

DataFrame[id: int, date: string, store: int, state: string, product: int, amount: float]

In [12]:
df.show()

+---+----------+-----+-----+-------+------+
| id|      date|store|state|product|amount|
+---+----------+-----+-----+-------+------+
|101|11/13/2014|  100|   WA|    331| 300.0|
|104|11/18/2014|  700|   OR|    329| 450.0|
|102|11/15/2014|  203|   CA|    321| 200.0|
|106|11/19/2014|  202|   CA|    331| 330.0|
|103|11/17/2014|  101|   WA|    373| 750.0|
|105|11/19/2014|  202|   CA|    321| 200.0|
+---+----------+-----+-----+-------+------+

## Pop Quiz

<details><summary>
What change do we have to make to the code above if we are processing a TSV file instead of a CSV file?
</summary>
<br>
Replace `line.split(',')` with `line.split()`
</details>

## Using SQL With DataFrames

How can I run SQL queries on DataFrames?

- Register the table with SqlContext.

In [13]:
df.registerTempTable('sales')

- Run queries on the registered tables.

In [14]:
result = sqlContext.sql('''
SELECT state, amount
    FROM sales
    WHERE amount > 100
''')

- View the results using `show()` or `collect()`.

In [15]:
result.show()

+-----+------+
|state|amount|
+-----+------+
|   WA| 300.0|
|   OR| 450.0|
|   CA| 200.0|
|   CA| 330.0|
|   WA| 750.0|
|   CA| 200.0|
+-----+------+

In [16]:
result.collect()

[Row(state=u'WA', amount=300.0),
 Row(state=u'OR', amount=450.0),
 Row(state=u'CA', amount=200.0),
 Row(state=u'CA', amount=330.0),
 Row(state=u'WA', amount=750.0),
 Row(state=u'CA', amount=200.0)]

## Pop Quiz

<details><summary>
If I run `result.collect()` twice how many times will the data be read from disk?
</summary>
1. RDDs are lazy.<br>
2. Therefore the data will be read twice.<br>
3. Unless you cache the RDD, all transformations in the RDD will execute on each action.<br>
</details>

## Caching Tables

How can I cache the RDD for a table to avoid roundtrips to disk on each action?

- Use `cacheTable()`.

In [17]:
sqlContext.cacheTable('sales')

- This is particularly useful if you are using Spark SQL to explore data.

## Saving Results

How can I save the results back out to the file system?

(first, make sure the files don't exist...)

In [18]:
!rm -rf high-sales.json high-sales.parquet

- You can either write them out using the JSON format.

In [19]:
result.toJSON().saveAsTextFile('high-sales.json')

- Or you can save them as Parquet.

In [20]:
result.write.parquet('high-sales.parquet')

- Lets take a look at the files.

In [21]:
!ls -l sales.csv
!echo sales.csv
!cat sales.csv

-rw-r--r--  1 ivan  staff  233 Sep 22 09:24 sales.csv
sales.csv
#ID,Date,Store,State,Product,Amount
101,11/13/2014,100,WA,331,300.00
104,11/18/2014,700,OR,329,450.00
102,11/15/2014,203,CA,321,200.00
106,11/19/2014,202,CA,331,330.00
103,11/17/2014,101,WA,373,750.00
105,11/19/2014,202,CA,321,200.00

In [22]:
!ls -l high-sales.json
!for i in high-sales.json/part-*; do echo $i; cat $i; done

total 16
-rwxrwxrwx  1 ivan  staff   0 Sep 22 09:24 _SUCCESS
-rwxrwxrwx  1 ivan  staff  90 Sep 22 09:24 part-00000
-rwxrwxrwx  1 ivan  staff  90 Sep 22 09:24 part-00001
high-sales.json/part-00000
{"state":"WA","amount":300.0}
{"state":"OR","amount":450.0}
{"state":"CA","amount":200.0}
high-sales.json/part-00001
{"state":"CA","amount":330.0}
{"state":"WA","amount":750.0}
{"state":"CA","amount":200.0}

In [23]:
!ls -l high-sales.parquet 
!for i in high-sales.parquet/part-*; do echo $i; cat $i; done

total 32
-rwxrwxrwx  1 ivan  staff    0 Sep 22 09:24 _SUCCESS
-rwxrwxrwx  1 ivan  staff  286 Sep 22 09:24 _common_metadata
-rwxrwxrwx  1 ivan  staff  736 Sep 22 09:24 _metadata
-rwxrwxrwx  1 ivan  staff  523 Sep 22 09:24 part-r-00000-21d3b2ea-6ea5-4265-9178-0925b6ad2b47.gz.parquet
-rwxrwxrwx  1 ivan  staff  559 Sep 22 09:24 part-r-00001-21d3b2ea-6ea5-4265-9178-0925b6ad2b47.gz.parquet
high-sales.parquet/part-r-00000-21d3b2ea-6ea5-4265-9178-0925b6ad2b47.gz.parquet
PAR1 0L, WACA    �       cb```fg�� �?D:; ���    $H,   �C  HC    �       cb```fg`������=��I]   <Hroot %state%  %amount ,&5 statej�&<WACA    &�5 amountf�&�<  �C  HC    � )org.apache.spark.sql.parquet.row.metadata�{"type":"struct","fields":[{"name":"state","type":"string","nullable":true,"metadata":{}},{"name":"amount","type":"float","nullable":true,"metadata":{}}]} parquet-mr version 1.6.0 w  PAR1high-sales.parquet/part-r-00001-21d3b2ea-6ea5-4265-9178-0925b6ad2b47.gz.parquet
PAR1<L  �       cb``pvd�� ��ik    :,WACA    �       cb```fgdf �&i�	    $L,  �;D  HC    �       cb```fg`X���`����� (OW   <Hroot %state%  %amount ,&5state~�&<WACA    &�5 amountf�&�< �;D  HC    � )org.apache.spark.sql.parquet.row.metadata�{"type":"struct","fields":[{"name":"state","type":"string","nullable":true,"metadata":{}},{"name":"amount","type":"float","nullable":true,"metadata":{}}]} parquet-mr version 1.6.0 w  PAR1

## Spark SQL using JSON Data

What is JSON-formatted data?

- In Spark the JSON format means that each line is a JSON document.
- JSON-formatted data can be saved as text using `saveAsTextFile()` and read using `textFile()`.
- JSON works well with Spark SQL because the data has an embedded schema.

What other formats are supported by Spark SQL?

- Spark SQL also supports Parquet, which is a compact binary format for big data.
- If your data is in CSV then you have to add the schema programmatically after you load the data.

## Parsing JSON Data

How can I read JSON input and put it into a DataFrame?

In [24]:
%%writefile sales.json
{"id":101, "date":"11/13/2014", "store":100, "state":"WA", "product":331, "amount":300.00}
{"id":104, "date":"11/18/2014", "store":700, "state":"OR", "product":329, "amount":450.00}
{"id":102, "date":"11/15/2014", "store":203, "state":"CA", "product":321, "amount":200.00}
{"id":106, "date":"11/19/2014", "store":202, "state":"CA", "product":331, "amount":330.00}
{"id":103, "date":"11/17/2014", "store":101, "state":"WA", "product":373, "amount":750.00}
{"id":105, "date":"11/19/2014", "store":202, "state":"CA", "product":321, "amount":200.00}

Writing sales.json

In [25]:
!cat sales.json

{"id":101, "date":"11/13/2014", "store":100, "state":"WA", "product":331, "amount":300.00}
{"id":104, "date":"11/18/2014", "store":700, "state":"OR", "product":329, "amount":450.00}
{"id":102, "date":"11/15/2014", "store":203, "state":"CA", "product":321, "amount":200.00}
{"id":106, "date":"11/19/2014", "store":202, "state":"CA", "product":331, "amount":330.00}
{"id":103, "date":"11/17/2014", "store":101, "state":"WA", "product":373, "amount":750.00}
{"id":105, "date":"11/19/2014", "store":202, "state":"CA", "product":321, "amount":200.00}

- Now read in the file.

In [26]:
df = sqlContext.read.json('sales.json')

In [27]:
df

DataFrame[amount: double, date: string, id: bigint, product: bigint, state: string, store: bigint]

- JSON is self-describing and does not require defining a schema.

How can inspect my DataFrame?

- Use `show()` to look at the first 20 rows of the DataFrame.

In [28]:
df.show()

+------+----------+---+-------+-----+-----+
|amount|      date| id|product|state|store|
+------+----------+---+-------+-----+-----+
| 300.0|11/13/2014|101|    331|   WA|  100|
| 450.0|11/18/2014|104|    329|   OR|  700|
| 200.0|11/15/2014|102|    321|   CA|  203|
| 330.0|11/19/2014|106|    331|   CA|  202|
| 750.0|11/17/2014|103|    373|   WA|  101|
| 200.0|11/19/2014|105|    321|   CA|  202|
+------+----------+---+-------+-----+-----+

- Here is how to look at a 50% sample of the DataFrame (without
  replacement).

In [29]:
df.sample(False, 0.5).show()

+------+----------+---+-------+-----+-----+
|amount|      date| id|product|state|store|
+------+----------+---+-------+-----+-----+
| 300.0|11/13/2014|101|    331|   WA|  100|
+------+----------+---+-------+-----+-----+

- Here is how to inspect the schema.

In [30]:
df.schema

StructType(List(StructField(amount,DoubleType,true),StructField(date,StringType,true),StructField(id,LongType,true),StructField(product,LongType,true),StructField(state,StringType,true),StructField(store,LongType,true)))

In [31]:
df.schema.fields

[StructField(amount,DoubleType,true),
 StructField(date,StringType,true),
 StructField(id,LongType,true),
 StructField(product,LongType,true),
 StructField(state,StringType,true),
 StructField(store,LongType,true)]

In [32]:
df.describe()

DataFrame[summary: string, amount: string, id: string, product: string, store: string]

In [33]:
df.printSchema()

root
 |-- amount: double (nullable = true)
 |-- date: string (nullable = true)
 |-- id: long (nullable = true)
 |-- product: long (nullable = true)
 |-- state: string (nullable = true)
 |-- store: long (nullable = true)

## DataFrame Methods

How can I slice the DataFrame by column and by row?

- DataFrames provide a *Pandas*-like API for manipulating data.
- To select specific columns use `select()`.

In [34]:
df.select('state', 'amount').show()

+-----+------+
|state|amount|
+-----+------+
|   WA| 300.0|
|   OR| 450.0|
|   CA| 200.0|
|   CA| 330.0|
|   WA| 750.0|
|   CA| 200.0|
+-----+------+

- You can also modify the columns while selecting.

In [35]:
df.select('state', df.amount + 100).show()

# (or)
df.select('state', df['amount'] + 100).show()

+-----+--------------+
|state|(amount + 100)|
+-----+--------------+
|   WA|         400.0|
|   OR|         550.0|
|   CA|         300.0|
|   CA|         430.0|
|   WA|         850.0|
|   CA|         300.0|
+-----+--------------+

+-----+--------------+
|state|(amount + 100)|
+-----+--------------+
|   WA|         400.0|
|   OR|         550.0|
|   CA|         300.0|
|   CA|         430.0|
|   WA|         850.0|
|   CA|         300.0|
+-----+--------------+

- You can evaluate boolean expressions.

In [36]:
df.select('state', df.amount < 300).show()

df.select('state', df.amount == 300).show()

+-----+--------------+
|state|(amount < 300)|
+-----+--------------+
|   WA|         false|
|   OR|         false|
|   CA|          true|
|   CA|         false|
|   WA|         false|
|   CA|          true|
+-----+--------------+

+-----+--------------+
|state|(amount = 300)|
+-----+--------------+
|   WA|          true|
|   OR|         false|
|   CA|         false|
|   CA|         false|
|   WA|         false|
|   CA|         false|
+-----+--------------+

- You can group values.

In [37]:
df.select('state', 'amount').groupBy('state').count().show()

+-----+-----+
|state|count|
+-----+-----+
|   OR|    1|
|   CA|    3|
|   WA|    2|
+-----+-----+

- You can filter rows based on conditions.

In [38]:
df.filter(df.state == 'CA').select('id').show()

+---+
| id|
+---+
|102|
|106|
|105|
+---+

- You can use SQL to write more elaborate queries.

In [39]:
df.registerTempTable('sales')

sqlContext.sql('''
SELECT id
    FROM sales
    WHERE amount > 300
''')\
    .show()

+---+
| id|
+---+
|104|
|106|
|103|
+---+

How can I convert DataFrames to regular RDDs?

- DataFrames are also RDDs.
- You can use `map()` to iterate over the rows of the DataFrame.
- You can access the values in a row using field names or column names.

In [40]:
df.map(lambda row: row.amount).collect()

[300.0, 450.0, 200.0, 330.0, 750.0, 200.0]

- You can also use `collect()` or `take()` to pull DataFrame rows into
  the driver.

In [41]:
df.collect()

[Row(amount=300.0, date=u'11/13/2014', id=101, product=331, state=u'WA', store=100),
 Row(amount=450.0, date=u'11/18/2014', id=104, product=329, state=u'OR', store=700),
 Row(amount=200.0, date=u'11/15/2014', id=102, product=321, state=u'CA', store=203),
 Row(amount=330.0, date=u'11/19/2014', id=106, product=331, state=u'CA', store=202),
 Row(amount=750.0, date=u'11/17/2014', id=103, product=373, state=u'WA', store=101),
 Row(amount=200.0, date=u'11/19/2014', id=105, product=321, state=u'CA', store=202)]

How can I convert Spark DataFrames to Pandas data frames?

- Use `toPandas()` to convert Spark DataFrames to Pandas.

In [42]:
pandas_df = df.toPandas()

print type(pandas_df)
pandas_df

<class 'pandas.core.frame.DataFrame'>

   amount        date   id  product state  store
0   300.0  11/13/2014  101      331    WA    100
1   450.0  11/18/2014  104      329    OR    700
2   200.0  11/15/2014  102      321    CA    203
3   330.0  11/19/2014  106      331    CA    202
4   750.0  11/17/2014  103      373    WA    101
5   200.0  11/19/2014  105      321    CA    202

## JSON vs CSV vs Parquet 

What are the pros and cons of JSON vs CSV vs Parquet?

Feature | JSON | CSV | Parquet
---|---|---|---
Human-Readable | Yes | Yes | No
Compact | No | Moderately | Highly
Columnar | No | No | Yes
Self-Describing | Yes | No | Yes
Requires Schema | No | Yes | No
Splittable | Yes | Yes | Yes
Popular | No | Yes | Not yet

What are columnar data formats?

- Columnar data formats store data column-wise.
- This allows them to do run-length encoding (RLE).
- Instead of storing `San Francisco` 100 times, they will just store it once and the count of how many times it occurs.
- When the data is repetitive and redundant as unstructured big data tends to be, columnar data formats use up a fraction of the disk space of non-columnar formats.

What are splittable data formats?

- On big data systems data is stored in blocks.
- For example, on HDFS data is stored in 64/128 MB blocks.
- Splittable data formats enable records in a block to be processed without looking at the entire file.

What are some examples of a non-splittable data format?

- Gzip

## User Defined Functions

How can I create my own User-Defined Functions?

- Import the types (e.g. StringType, IntegerType, FloatType) that we are returning.

In [43]:
from pyspark.sql.types import *

- Create a UDF to calculate sales tax of 10% on the amount.

In [44]:
def add_tax(amount):
    return amount * 1.10

sqlContext.registerFunction('add_tax', add_tax, FloatType())

- Apply the function.

In [45]:
sqlContext.sql('SELECT *, add_tax(amount) AS with_tax FROM sales').show()

+------+----------+---+-------+-----+-----+--------+
|amount|      date| id|product|state|store|with_tax|
+------+----------+---+-------+-----+-----+--------+
| 300.0|11/13/2014|101|    331|   WA|  100|   330.0|
| 450.0|11/18/2014|104|    329|   OR|  700|   495.0|
| 200.0|11/15/2014|102|    321|   CA|  203|   220.0|
| 330.0|11/19/2014|106|    331|   CA|  202|   363.0|
| 750.0|11/17/2014|103|    373|   WA|  101|   825.0|
| 200.0|11/19/2014|105|    321|   CA|  202|   220.0|
+------+----------+---+-------+-----+-----+--------+

- Optional last argument of `registerFunction` is function return
  type; default is `StringType`.

- UDFs can single or multiple arguments.