# 00. Study previous assessments

# 0. Hey! Remember to use the tests!!!!
When you clone the assessment repo and you are in the `dsi-final-assessment` directory, make sure unittests works by entering `make test` in your terminal.

# 1. SQL

## 1a. readychef

If you still have the readychef database, you can access it by entering `psql readychef` in your terminal.

If the above command fails, you'll have to create the database and load it with the following commands.
Here, `$` represents the terminal shell and `=#` represents the postgres shell.
```
$ psql
=# CREATE DATABASE readychef;
=# \q
$ psql readychef < path/to/readychef.sql
$ psql readychef
=# \d
           List of relations
 Schema |   Name    | Type  |  Owner   
--------+-----------+-------+----------
 public | events    | table | postgres
 public | meals     | table | postgres
 public | referrals | table | postgres
 public | users     | table | postgres
 public | visits    | table | postgres
(5 rows)


```

```
readychef=# SELECT * FROM events LIMIT 10;
     dt     | userid | meal_id | event  
------------+--------+---------+--------
 2013-01-01 |      3 |      18 | bought
 2013-01-01 |      7 |       1 | like
 2013-01-01 |     10 |      29 | bought
 2013-01-01 |     11 |      19 | share
 2013-01-01 |     15 |      33 | like
 2013-01-01 |     18 |       4 | share
 2013-01-01 |     18 |      40 | bought
 2013-01-01 |     21 |      10 | share
 2013-01-01 |     21 |       4 | like
 2013-01-01 |     22 |      23 | bought
```


```
readychef=# SELECT * FROM meals LIMIT 10;
 meal_id |  type   |     dt     | price 
---------+---------+------------+-------
       1 | french  | 2013-01-01 |    10
       2 | chinese | 2013-01-01 |    13
       3 | mexican | 2013-01-02 |     9
       4 | italian | 2013-01-03 |     9
       5 | chinese | 2013-01-03 |    12
       6 | italian | 2013-01-03 |     9
       7 | italian | 2013-01-03 |    10
       8 | french  | 2013-01-03 |    14
       9 | italian | 2013-01-03 |    13
      10 | french  | 2013-01-03 |     7
(10 rows)
```

### write queries to find the following

#### i) total meals bought by each user (including users who bought zero meals)
#### ii) Total money spent by each user
#### iii) Total visits from each user
#### iv) Average visits per month from each user

(try writing them before looking at the answers below)

In [ ]:
SELECT userid, SUM(CASE WHEN event='bought' THEN 1 ELSE 0 END) AS ct
FROM events
GROUP BY userid
ORDER BY ct;

In [ ]:
SELECT userid, COUNT(meal_id) as ct
FROM events
WHERE event='bought'
GROUP BY userid
ORDER BY ct;

In [ ]:
## ^^^ boughts

In [ ]:
SELECT users.userid, COALESCE(ct, 0)
FROM users
LEFT JOIN (
        SELECT userid, COUNT(meal_id) as ct
        FROM events
        WHERE event='bought'
        GROUP BY userid  
           ) AS boughts
ON users.userid = boughts.userid
ORDER BY userid
LIMIT 25;

In [ ]:
SELECT u.userid, COUNT(events.userid) as ct
FROM users AS u
LEFT JOIN events
ON u.userid = events.userid AND events.event = 'bought'
GROUP BY u.userid
ORDER BY ct;

## 1b. another table

Use table 'customers' below

| cust_id | cust_name | current_city | hometown |
|:----------:|:------------:|:----------:|:-----------:|
| 1 | Amanda | Atlanta | Raleigh |
| 2 | Brittany | Denver | New York |
| 3 | Charles | Paris | Raleigh |
| 4 | David | San Diego | Los Angeles |
| 5 | Elizabeth | Atlanta | London |
| 6 | Greg | Denver | Atlanta |
| 7 | Maria | Raleigh | New York |
| 8 | Sarah | New York | Raleigh |
| 9 | Thomas | Atlanta | Raleigh |

#### loading this data

What's the fastest way to load some tab delimited data into postgres? 

We'll use the `CREATE TABLE` and `COPY` commands.

https://www.postgresql.org/docs/current/static/sql-createtable.html

https://www.postgresql.org/docs/current/static/sql-copy.html

Save the following into a file called `customers.sql`

```SQL
CREATE TABLE customers (
    cust_id integer,
    cust_name character varying,
    current_city character varying,
    hometown character varying);

COPY customers (cust_id, cust_name, current_city, hometown) FROM stdin;
1	Amanda	Atlanta	Raleigh
2	Brittany	Denver	New York
3	Charles	Paris	Raleigh
4	David	San Diego	Los Angeles
5	Elizabeth	Atlanta	London
6	Greg	Denver	Atlanta
7	Maria	Raleigh	New York
8	Sarah	New York	Raleigh
9	Thomas	Atlanta	Raleigh
\.

```

`CREATE TABLE` specified the schema. Here we are using `COPY ... FROM stdin`, which expects the data to immediately follow in the file. Note that `\.` is the end-of-data marker.

`COPY` can also be used to read a `.csv` file, and can handle other delimiters as well.

Now to load the data, we use the same procedure as before.
```
$ psql
=# CREATE DATABASE coolkids;
=# \q
$ psql coolkids < path/to/customers.sql
$ psql coolkids
```

### write queries to find the following
    
#### i) Return the city with the highest population growth. (Highest net of people who currently live there minus people who used to live there)

#### ii) Return pairs of "friends" (can be two columns or a tuple) that have both the same hometown and current city. Remove duplicates!

WITH new_pop AS (
    SELECT current_city AS city, COUNT(cust_name) as pop FROM customers
    GROUP BY current_city
    ),
old_pop AS (
    SELECT hometown AS city, COUNT(cust_name) as pop FROM customers
    GROUP BY hometown
    )
SELECT new_pop.city, (new_pop.pop - COALESCE(old_pop.pop,0)) AS pop_growth
FROM new_pop
LEFT JOIN old_pop
ON new_pop.city=old_pop.city
;

## 1a) readychef answers

## i: total meals bought by each user (including users who bought zero meals)

this query gets total meals for every user
but only for users who bought at least 1 meal

```sql
SELECT userid, COUNT(*) as ct 
FROM events 
WHERE event='bought' 
GROUP BY userid
```

 to get the 0-meal users, we LEFT JOIN the 
 user column from "users" with the previous
 table, then use COALESCE to convert the
 NULL values to 0

```sql
SELECT u.userid, COALESCE(c.ct,0) AS total_meals_bought FROM users AS u
LEFT JOIN (
        SELECT userid, COUNT(*) as ct 
        FROM events 
        WHERE event='bought' 
        GROUP BY userid ) as c 
        ON u.userid = c.userid
ORDER BY u.userid
LIMIT 20;
```

### ii: Total money spent by each user

```sql
SELECT u.userid, COALESCE(s.spent,0) AS total_spent FROM users AS u
LEFT JOIN (
        SELECT userid, SUM(m.price) as spent 
        FROM events AS e
        JOIN meals AS m
         ON e.meal_id = m.meal_id
        WHERE event='bought' 
        GROUP BY userid ) as s
        ON u.userid = s.userid
ORDER BY u.userid
LIMIT 20;
```

### iii: Total visits from each user

```sql
SELECT u.userid, COALESCE(v.ct,0) AS total_visits FROM users AS u
LEFT JOIN (
        SELECT userid, COUNT(*) as ct 
        FROM visits 
        GROUP BY userid ) as v 
        ON u.userid = v.userid
ORDER BY u.userid
LIMIT 20;
```

### iv: Average visits per month from each user

(hint: http://www.sqlines.com/postgresql/how-to/datediff )

```sql

WITH user_life AS
(
    SELECT userid,
      ((DATE_PART('year', a.max_dt) - DATE_PART('year', a.min_dt)) * 12 +
      (DATE_PART('month', a.max_dt) - DATE_PART('month', a.min_dt)) + 1) AS user_months
     FROM
        (
        SELECT userid, MIN(dt) as min_dt, MAX(dt) AS max_dt 
        FROM visits GROUP BY userid
        ) AS a
),
total AS
(
    SELECT u.userid, COALESCE(v.ct,0) AS total_visits FROM users AS u
    LEFT JOIN (
            SELECT userid, COUNT(*) as ct 
            FROM visits 
            GROUP BY userid ) as v 
         ON u.userid = v.userid
)
SELECT uu.userid, ROUND(tt.total_visits/uu.user_months :: numeric, 2)
FROM user_life AS uu
JOIN total AS tt
ON uu.userid = tt.userid
LIMIT 10;
```

## 1b) customers answers

### i) Return the city with the highest population growth. (Highest net of people who currently live there minus people who used to live there)

  ```SQL
  CREATE TABLE inward_migration AS
  (SELECT current_city, COUNT(*) AS net_in
  FROM customers
  GROUP BY current_city)

  CREATE TABLE outward_migration AS
  (SELECT hometown, COUNT(*) AS net_out
  FROM customers
  GROUP BY hometown)

  SELECT a.current_city AS city,
    a.net_in - b.net_out AS net_immigration
  FROM inward_migration a
  JOIN outward_migration b
  ON a.current_city = b.hometown
  ORDER BY net_immigration DESC
  LIMIT 1
  ```

### ii) Return pairs of "friends" (can be two columns or a tuple) that have both the same hometown and current city. Remove duplicates!

  ```SQL
  SELECT a.cust_id AS friend1, b.cust_id AS friend2
  FROM customers a
  JOIN customers b
  ON a.hometown = b.hometown
  AND a.current_city = b.current_city
  WHERE a.cust_id < b.cust_id
  ```

# 2. Web scraping

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
query = 'data scientist'

In [3]:
url = "http://www.indeed.com/jobs?q={}".format(query.replace(' ', '+'))
html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')

In [4]:
url

'http://www.indeed.com/jobs?q=data+scientist'

### find the number of results

You can search by tag, attribute, or both

In [5]:
soup.find('div', id='searchCount').text

'\n        Page 1 of 23,419 jobs'

In [6]:
soup.find('div', id='searchCount')

<div id="searchCount">
        Page 1 of 23,419 jobs</div>

In [7]:
soup.find(id='searchCount')

<div id="searchCount">
        Page 1 of 23,419 jobs</div>

In [8]:
soup.find(id='searchCount').text

'\n        Page 1 of 23,419 jobs'

In [9]:
soup.find(id='searchCount').text.split()

['Page', '1', 'of', '23,419', 'jobs']

In [11]:
soup.find(id='searchCount').text.split()[-2]

'23,419'

In [14]:
import requests
from bs4 import BeautifulSoup

def number_of_jobs(query):
    '''
    INPUT: string
    OUTPUT: int

    Return the number of jobs on the indeed.com for the search query.
    '''

    url = "http://www.indeed.com/jobs?q={}".format(query.replace(' ', '+'))
    html = requests.get(url).text
    soup = BeautifulSoup(html, 'html.parser')
    search_count = soup.find('div', id='searchCount')
    return int(search_count.text.split()[-2].replace(',', ''))

In [15]:
number_of_jobs('data scientist')

23419

In [16]:
soup.find_all('div', class_='row result')

[<div class="row result" data-advn="5934651801106676" data-jk="7dee0a3754255bee" id="pj_7dee0a3754255bee">
 <a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0DV4VMfmBJI2fADxaSmO4APG19pQrP8HAfsIrAnoAIqcE6KtGnsd-lg0hs2Usoksi-GyvPGYRgLzK4Qz5WOJcfBYXKdSJ_nir_NJlpEGdOAwaMLD2_H1rNmYJSfFU0_yJ_SxwbJrSmTlbhq7bCJcp8UPo7cZ2CllQKopAjI83czBnSNydgEEM__Cw8EaF39Olg9kVDbFIuHVbGUhzFUNkHDb88UAbJLhKPBjOkHKaSnYDgu-AqCbQk3D6tqSGrajVPBHs-GMjQlE7SUlNIXGQDfUsUE5bJxNoi5l0nup1BONsPTfgEWO8NKxZM61Dj4S05Y9CnO50tma-0vbUvP_kJ6apz5au8T35amtSk8WPGj5O6b6N-KiQ7ihs2Fm-7T7jxg55gkgL5FWY74iEzYu_je3F_MiFkTIxJ4UgjZbB8DDM-d6258qkyhoHA51g9FAUZ_zUS7ODJqz6LvAiO07DxFPqPro_tatf9goGGOpHm5gpB9wQZbgLawxuo0L3NVdMoEFATA6ipZ0ozd0hX1V_Y_gIwwLC6Mbl1DTt2Lq52J3kwu8pcxFhO0UMDOtDajH41-xfswozMlZzNJl5_-6ohmPLjTBycLj60=&amp;p=1&amp;sk=&amp;fvj=1" id="sja1" onclick="setRefineByCookie([]); sjoc('sja1',1); convCtr('SJ')" onmousedown="sjomd('sja1'); clk('sja1');" rel="noopener nofollow" target="_blank" title="Data Scientist"><b>Data</b> <b>Scientist</b></a>
 <br/>
 <div class="sjcl">
 <span class="company">
     National Geospatial-Intelligence Agency</span>

  - <span class="location">Springfield, VA</span>
 <div>
 <span class="no-wrap">
                 Estimated salary: $87,000 - $111,000 a year</span>
 <span class="salary-legal-disclaimer-icon" data-jk-salary="7dee0a3754255bee"></span>
 </div>
 </div>
 <div class="">
 <table border="0" cellpadding="0" cellspacing="0"><tr><td class="snip">
 <span class="summary">
                             JavaScript, Python, Cloud Services Design, Algorithm Development, <b>Data</b> Visualization, Big <b>Data</b> /<b>Data</b> Modeling, Machine Vision &amp; Deep Learning, Optimization....</span>
 </td></tr></table>
 </div>
 <div class="sjCapt">
 <div class="result-link-bar-container">
 <div class="result-link-bar"><span class=" sponsoredGray ">Sponsored</span> - <span class="tt_set" id="tt_set_10"><a class="sl resultLink save-job-link " href="#" id="sj_7dee0a3754255bee" onclick="changeJobState('7dee0a3754255bee', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">save job</a></span><div class="edit_note_content" id="editsaved2_7dee0a3754255bee" style="display:none;"></div><script>if (!window['sj_result_7dee0a3754255bee']) {window['sj_result_7dee0a3754255bee'] = {};}window['sj_result_7dee0a3754255bee']['showSource'] = false; window['sj_result_7dee0a3754255bee']['source'] = "Indeed"; window['sj_result_7dee0a3754255bee']['loggedIn'] = false; window['sj_result_7dee0a3754255bee']['showMyJobsLinks'] = false;window['sj_result_7dee0a3754255bee']['undoAction'] = "unsave";window['sj_result_7dee0a3754255bee']['jobKey'] = "7dee0a3754255bee"; window['sj_result_7dee0a3754255bee']['myIndeedAvailable'] = true; window['sj_result_7dee0a3754255bee']['showMoreActionsLink'] = false; window['sj_result_7dee0a3754255bee']['resultNumber'] = 10; window['sj_result_7dee0a3754255bee']['jobStateChangedToSaved'] = false; window['sj_result_7dee0a3754255bee']['searchState'] = "q=data scientist&amp;"; window['sj_result_7dee0a3754255bee']['basicPermaLink'] = "http://www.indeed.com"; window['sj_result_7dee0a3754255bee']['saveJobFailed'] = false; window['sj_result_7dee0a3754255bee']['removeJobFailed'] = false; window['sj_result_7dee0a3754255bee']['requestPending'] = false; window['sj_result_7dee0a3754255bee']['notesEnabled'] = false; window['sj_result_7dee0a3754255bee']['currentPage'] = "serp"; window['sj_result_7dee0a3754255bee']['sponsored'] = true;window['sj_result_7dee0a3754255bee']['showSponsor'] = true;window['sj_result_7dee0a3754255bee']['reportJobButtonEnabled'] = false; window['sj_result_7dee0a3754255bee']['showMyJobsHired'] = false; window['sj_result_7dee0a3754255bee']['showSaveForSponsored'] = true; window['sj_result_7dee0a3754255bee']['showJobAge'] = true;</script></div></div>
 <div class="tab-container">
 <div class="sign-in-container result-tab"></div>
 <div class="tellafriend-container result-tab email_job_content"></div>
 </div>
 </div>
 </div>,
 <div class="row result" data-advn="6613095622180756" data-jk="e737b16383f138a5" id="pj_e737b16383f138a5">
 <a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0D19kSVUiNzG2UWy1lRGehFMusHrHGUl8ru40ax50wmt1gcnJgB2R3fkhH2YsNSM25J1XE0NqyQdRK2V_5MAvJ9RLsxrX8z5uhS40sTAMkWacAnvotPV--qUYKI6k-JSQ4q0dvT0CAd-rT3yRT5sMMANxSes0HcSTKzTqEJjGQrK-z56cv35eNfMYM4zgWqgnn7V64kmQjqekrAd7cnznFB0_rDtjSpj0uGYjTaX55UzZCM-pCbz8J2X20yt5cBCzNQklbFT21XGJZMfgmlgbpYmGzme1YwE5Ohe3Rbl68fL5uK1vnG6kpebdAyJR3BvPTOfvMhabZ70zMjHzj4No-5dj9hSHRXHCyB3tbIcCQma_i7OLQh8JT2kLRh7fYJfe65z2rhWpmHHTlZ0Mrc-tI86ECLcPqQ_t9LqiflEgiABMtlymgaLHN-PYgCcSo9SPK3sih3EjsCvP2eNsX0QJj3UlphYxJEDb9JJGu00w95njbr6E-yxy-XmWbuhr1gFnsrkJ3YWA-ZglfGBrqXflbrhdNX8MA9iq5sETsw4ffc9GH_AcKT-V2t6U4xFc44QMokvr0bS66y1Xug_KyLBbrQo_o1Cti3sl8MauVu4SHoYPfT4JwLB9_Mqu-qL-jwpg3FIahTacursb3nfuLIbq1PtHdlkKxY_JCj5lrt6Ck48ua6LQGUHM2gMCy7LErn0fc6l8t113QMGJ42ElUOXqI317eWvf5HNzvSfSQS9PvvfnuwBDpcndp8YRFXrGzUyQ5AXDxlAqGactPFDYqQhi5p&amp;p=2&amp;sk=&amp;fvj=0" id="sja2" onclick="setRefineByCookie([]); sjoc('sja2',0); convCtr('SJ')" onmousedown="sjomd('sja2'); clk('sja2');" rel="noopener nofollow" target="_blank" title="Data Scientist - Solaria Labs"><b>Data</b> <b>Scientist</b> - Solaria Labs</a>
 <br/>
 <div class="sjcl">
 <span class="company">
 <a class="turnstileLink" data-tn-element="companyName" href="/cmp/Liberty-Mutual" onmousedown="this.href = appendParamsOnce(this.href, 'from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=e737b16383f138a5&amp;jcid=bba15db4d8763697')" rel="noopener" target="_blank">
     Liberty Mutual</a></span>

  - <a class="ratingsLabel" data-tn-element="reviewStars" data-tn-variant="cmplinktst2" href="/cmp/Liberty-Mutual/reviews" onmousedown="this.href = appendParamsOnce(this.href, '?campaignid=cmplinktst2&amp;from=SERP&amp;jt=Data+Scientist+-+Solaria+Labs&amp;fromjk=e737b16383f138a5&amp;jcid=bba15db4d8763697');" rel="noopener" target="_blank" title="Liberty Mutual reviews">
 <span class="ratings"><span class="rating" style="width:43.8px"><!-- --></span></span>
 <span class="slNoUnderline">1,934 reviews</span></a>
  - <span class="location">Boston, MA</span>
 </div>
 <div class="">
 <table border="0" cellpadding="0" cellspacing="0"><tr><td class="snip">
 <span class="summary">
                             Degree (in Engineering, Computer Science, Mathematics, or other scientific field of study) and 0-1 years of relevant experience, a Master’s degree (scientific...</span>
 </td></tr></table>
 </div>
 <div class="sjCapt">
 <div class="result-link-bar-container">
 <div class="result-link-bar"><span class=" sponsoredGray ">Sponsored</span> - <span class="tt_set" id="tt_set_11"><a class="sl resultLink save-job-link " href="#" id="sj_e737b16383f138a5" onclick="changeJobState('e737b16383f138a5', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">save job</a></span><div class="edit_note_content" id="editsaved2_e737b16383f138a5" style="display:none;"></div><script>if (!window['sj_result_e737b16383f138a5']) {window['sj_result_e737b16383f138a5'] = {};}window['sj_result_e737b16383f138a5']['showSource'] = false; window['sj_result_e737b16383f138a5']['source'] = "Liberty Mutual"; window['sj_result_e737b16383f138a5']['loggedIn'] = false; window['sj_result_e737b16383f138a5']['showMyJobsLinks'] = false;window['sj_result_e737b16383f138a5']['undoAction'] = "unsave";window['sj_result_e737b16383f138a5']['jobKey'] = "e737b16383f138a5"; window['sj_result_e737b16383f138a5']['myIndeedAvailable'] = true; window['sj_result_e737b16383f138a5']['showMoreActionsLink'] = false; window['sj_result_e737b16383f138a5']['resultNumber'] = 11; window['sj_result_e737b16383f138a5']['jobStateChangedToSaved'] = false; window['sj_result_e737b16383f138a5']['searchState'] = "q=data scientist&amp;"; window['sj_result_e737b16383f138a5']['basicPermaLink'] = "http://www.indeed.com"; window['sj_result_e737b16383f138a5']['saveJobFailed'] = false; window['sj_result_e737b16383f138a5']['removeJobFailed'] = false; window['sj_result_e737b16383f138a5']['requestPending'] = false; window['sj_result_e737b16383f138a5']['notesEnabled'] = false; window['sj_result_e737b16383f138a5']['currentPage'] = "serp"; window['sj_result_e737b16383f138a5']['sponsored'] = true;window['sj_result_e737b16383f138a5']['showSponsor'] = true;window['sj_result_e737b16383f138a5']['reportJobButtonEnabled'] = false; window['sj_result_e737b16383f138a5']['showMyJobsHired'] = false; window['sj_result_e737b16383f138a5']['showSaveForSponsored'] = true; window['sj_result_e737b16383f138a5']['showJobAge'] = true;</script></div></div>
 <div class="tab-container">
 <div class="sign-in-container result-tab"></div>
 <div class="tellafriend-container result-tab email_job_content"></div>
 </div>
 </div>
 </div>,
 <div class="row result" data-advn="1594886733894779" data-jk="a4ce445181041eb0" id="pj_a4ce445181041eb0">
 <a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0A3ojDD7a4bPG-yvnQ25_ssl5SfeamfjBbLjSp6JyfodLfvDkcWq9JKaUTjMzltpq8gtKbp3V2kIgBQcbGYvtADojuNwUM-UYaXnTPEkOSp3dCIjH7NmDL1d3vx33aEjpRgM8cgzQt_cvix5FAsdWbaOoymvFpQVkiw4m-E4f7BRHAM5Fhqxp6h0HkwgmQOi5pGl4keA_1hMobabgtRnet2-PN8L8x9tmPoSPzw85usJxQmloEchd5tBhSJfBfkVp6suqOh-RIAe7NpIJdZi3AxE7l2vjRXfxVBuocZhGuOtfiyQiYTLJG_ZjeAPknICuMt7B-GLeLw3MGHCJMsgsZnBOwAplBgY4YbSb3RLWEchZXti-w-Y0GbgfsvZ1togUzJyFUqdR6_Nara0K4b4E4aLn0cKK631hnvPZsq3RBoyA==&amp;p=4&amp;sk=&amp;fvj=1" id="sja4" onclick="setRefineByCookie([]); sjoc('sja4',1); convCtr('SJ')" onmousedown="sjomd('sja4'); clk('sja4');" rel="noopener nofollow" target="_blank" title="Data Scientist"><b>Data</b> <b>Scientist</b></a>
 <br/>
 <div class="sjcl">
 <span class="company">
     Moss Corporation</span>

  - <span class="location">Cleveland, OH</span>
 <div>
 <span class="no-wrap">
                 Estimated salary: $74,000 - $94,000 a year</span>
 <span class="salary-legal-disclaimer-icon" data-jk-salary="a4ce445181041eb0"></span>
 </div>
 </div>
 <div class="">
 <table border="0" cellpadding="0" cellspacing="0"><tr><td class="snip">
 <span class="summary">
                             Independently identify and manage analytical projects, performing a variety of tasks including <b>data</b> architect, <b>data</b> mining, <b>data</b> visualization, and modeling....</span>
 </td></tr></table>
 </div>
 <div class="sjCapt">
 <div class="iaP">
 <span class="iaLabel"> Easily apply</span>
 </div>
 <div class="result-link-bar-container">
 <div class="result-link-bar"><span class=" sponsoredGray ">Sponsored</span> - <span class="tt_set" id="tt_set_13"><a class="sl resultLink save-job-link " href="#" id="sj_a4ce445181041eb0" onclick="changeJobState('a4ce445181041eb0', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">save job</a></span><div class="edit_note_content" id="editsaved2_a4ce445181041eb0" style="display:none;"></div><script>if (!window['sj_result_a4ce445181041eb0']) {window['sj_result_a4ce445181041eb0'] = {};}window['sj_result_a4ce445181041eb0']['showSource'] = false; window['sj_result_a4ce445181041eb0']['source'] = "Indeed"; window['sj_result_a4ce445181041eb0']['loggedIn'] = false; window['sj_result_a4ce445181041eb0']['showMyJobsLinks'] = false;window['sj_result_a4ce445181041eb0']['undoAction'] = "unsave";window['sj_result_a4ce445181041eb0']['jobKey'] = "a4ce445181041eb0"; window['sj_result_a4ce445181041eb0']['myIndeedAvailable'] = true; window['sj_result_a4ce445181041eb0']['showMoreActionsLink'] = false; window['sj_result_a4ce445181041eb0']['resultNumber'] = 13; window['sj_result_a4ce445181041eb0']['jobStateChangedToSaved'] = false; window['sj_result_a4ce445181041eb0']['searchState'] = "q=data scientist&amp;"; window['sj_result_a4ce445181041eb0']['basicPermaLink'] = "http://www.indeed.com"; window['sj_result_a4ce445181041eb0']['saveJobFailed'] = false; window['sj_result_a4ce445181041eb0']['removeJobFailed'] = false; window['sj_result_a4ce445181041eb0']['requestPending'] = false; window['sj_result_a4ce445181041eb0']['notesEnabled'] = false; window['sj_result_a4ce445181041eb0']['currentPage'] = "serp"; window['sj_result_a4ce445181041eb0']['sponsored'] = true;window['sj_result_a4ce445181041eb0']['showSponsor'] = true;window['sj_result_a4ce445181041eb0']['reportJobButtonEnabled'] = false; window['sj_result_a4ce445181041eb0']['showMyJobsHired'] = false; window['sj_result_a4ce445181041eb0']['showSaveForSponsored'] = true; window['sj_result_a4ce445181041eb0']['showJobAge'] = true;</script></div></div>
 <div class="tab-container">
 <div class="sign-in-container result-tab"></div>
 <div class="tellafriend-container result-tab email_job_content"></div>
 </div>
 </div>
 </div>]

# 3. Distributions

http://www.cs.elte.hu/~mesti/valszam/kepletek.pdf

### Beta distribution:
$B(\alpha, \beta) $

$\alpha = 1 + (\#successes)$

$\beta = 1 + (\#failures)$

http://stats.stackexchange.com/a/47782

# 4. Hypothesis testing

https://github.com/gschool/DSI_Lectures/blob/master/ab-testing/tammy_lee/lecture.pdf