# 00. Study previous assessments

# 0. Hey! Remember to use the tests!!!!
When you clone the assessment repo and you are in the `final-assessment-files` directory, make sure unittests works by entering `make test` in your terminal.

# 1. SQL: readychef

If you still have the readychef database, you can access it by entering `psql readychef` in your terminal.

If the above command fails, you'll have to create the database and load it with the following commands.
Here, `$` represents the terminal shell and `=#` represents the postgres shell.
```
$ psql
=# CREATE DATABASE readychef;
=# \q
$ psql -f path/to/readychef.sql readychef
$ psql readychef
=# \d
           List of relations
 Schema |   Name    | Type  |  Owner   
--------+-----------+-------+----------
 public | events    | table | postgres
 public | meals     | table | postgres
 public | referrals | table | postgres
 public | users     | table | postgres
 public | visits    | table | postgres
(5 rows)


```

```
readychef=# SELECT * FROM events LIMIT 10;
     dt     | userid | meal_id | event  
------------+--------+---------+--------
 2013-01-01 |      3 |      18 | bought
 2013-01-01 |      7 |       1 | like
 2013-01-01 |     10 |      29 | bought
 2013-01-01 |     11 |      19 | share
 2013-01-01 |     15 |      33 | like
 2013-01-01 |     18 |       4 | share
 2013-01-01 |     18 |      40 | bought
 2013-01-01 |     21 |      10 | share
 2013-01-01 |     21 |       4 | like
 2013-01-01 |     22 |      23 | bought
```


```
readychef=# SELECT * FROM meals LIMIT 10;
 meal_id |  type   |     dt     | price 
---------+---------+------------+-------
       1 | french  | 2013-01-01 |    10
       2 | chinese | 2013-01-01 |    13
       3 | mexican | 2013-01-02 |     9
       4 | italian | 2013-01-03 |     9
       5 | chinese | 2013-01-03 |    12
       6 | italian | 2013-01-03 |     9
       7 | italian | 2013-01-03 |    10
       8 | french  | 2013-01-03 |    14
       9 | italian | 2013-01-03 |    13
      10 | french  | 2013-01-03 |     7
(10 rows)
```

# Exercise: write queries to find the following

### i: total meals bought by each user (including users who bought zero meals)
### ii: Total money spent by each user
### iii: Total visits from each user
### iv: Average visits per month from each user

(try writing them before looking at the answers below)

## i: total meals bought by each user (including users who bought zero meals)

this query gets total meals for every user
but only for users who bought at least 1 meal

```sql
SELECT userid, COUNT(*) as ct 
FROM events 
WHERE event='bought' 
GROUP BY userid
```

 to get the 0-meal users, we LEFT JOIN the 
 user column from "users" with the previous
 table, then use COALESCE to convert the
 NULL values to 0

```sql
SELECT u.userid, COALESCE(c.ct,0) AS total_meals_bought FROM users AS u
LEFT JOIN (
        SELECT userid, COUNT(*) as ct 
        FROM events 
        WHERE event='bought' 
        GROUP BY userid ) as c 
        ON u.userid = c.userid
ORDER BY u.userid
LIMIT 20;
```

### ii: Total money spent by each user

```sql
SELECT u.userid, COALESCE(s.spent,0) AS total_spent FROM users AS u
LEFT JOIN (
        SELECT userid, SUM(m.price) as spent 
        FROM events AS e
        JOIN meals AS m
         ON e.meal_id = m.meal_id
        WHERE event='bought' 
        GROUP BY userid ) as s
        ON u.userid = s.userid
ORDER BY u.userid
LIMIT 20;
```

### iii: Total visits from each user

```sql
SELECT u.userid, COALESCE(v.ct,0) AS total_visits FROM users AS u
LEFT JOIN (
        SELECT userid, COUNT(*) as ct 
        FROM visits 
        GROUP BY userid ) as v 
        ON u.userid = v.userid
ORDER BY u.userid
LIMIT 20;
```

### iv: Average visits per month from each user

(hint: http://www.sqlines.com/postgresql/how-to/datediff )

```sql

WITH user_life AS
(
    SELECT userid,
      ((DATE_PART('year', a.max_dt) - DATE_PART('year', a.min_dt)) * 12 +
      (DATE_PART('month', a.max_dt) - DATE_PART('month', a.min_dt)) + 1) AS user_months
     FROM
        (
        SELECT userid, MIN(dt) as min_dt, MAX(dt) AS max_dt 
        FROM visits GROUP BY userid
        ) AS a
),
total AS
(
    SELECT u.userid, COALESCE(v.ct,0) AS total_visits FROM users AS u
    LEFT JOIN (
            SELECT userid, COUNT(*) as ct 
            FROM visits 
            GROUP BY userid ) as v 
         ON u.userid = v.userid
)
SELECT uu.userid, ROUND(tt.total_visits/uu.user_months :: numeric, 2)
FROM user_life AS uu
JOIN total AS tt
ON uu.userid = tt.userid
LIMIT 10;
```

# 2. Web scraping

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
query = 'data scientist'

In [3]:
url = "http://www.indeed.com/jobs?q={}".format(query.replace(' ', '+'))
html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')

In [4]:
url

'http://www.indeed.com/jobs?q=data+scientist'

### find the number of results

You can search by tag, attribute, or both

In [5]:
soup.find('div', id='searchCount').text

'\n        Jobs 1 to 10 of 23,550'

In [6]:
soup.find('div', id='searchCount')

<div id="searchCount">
        Jobs 1 to 10 of 23,550</div>

In [7]:
soup.find(id='searchCount')

<div id="searchCount">
        Jobs 1 to 10 of 23,550</div>

In [8]:
soup.find(id='searchCount').text

'\n        Jobs 1 to 10 of 23,550'

In [9]:
soup.find(id='searchCount').text.split()

['Jobs', '1', 'to', '10', 'of', '23,550']

In [10]:
soup.find(id='searchCount').text.split()[-1]

'23,550'

In [11]:
import requests
from bs4 import BeautifulSoup

def number_of_jobs(query):
    '''
    INPUT: string
    OUTPUT: int

    Return the number of jobs on the indeed.com for the search query.
    '''

    url = "http://www.indeed.com/jobs?q={}".format(query.replace(' ', '+'))
    html = requests.get(url).text
    soup = BeautifulSoup(html, 'html.parser')
    search_count = soup.find('div', id='searchCount')
    return int(search_count.text.split('of ')[-1].replace(',', ''))

In [12]:
number_of_jobs('data scientist')

23550

In [13]:
soup.find_all('div', class_='row result')

[<div class="row result" data-jk="18f56cbc9a1cee95" id="pj_18f56cbc9a1cee95">
 <!-- Previously this variable was used to indicate job board jobs, we have replaced that with a more accurate source type check -->
 <a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AKvx1StreRZ4gELVY3ypo3Yc-9qYqTvUfWWDCFukc8LAOVmHxGSbg-Ag6ukb0J2CCuffWw7MhJ6VKNPLLyhyY0hAEcDz4Ml4h7KXZMFRlhAZ8K6LVVsCKKy7wjMPVX177fkFACIuRHiVJtCZfSc9EG0w1TeGCXj3PFZ8fPkjeesCIOmZPZ3UJ5pClDsbiOQfe3m5ZkGLdwUedVehTzaj_W0PinLhYvj63HfRm-1lEgQ1lYJJZJs-_otbWkEOzi3LmCW-aeZjwK-zvT_b060uP31Ac14FUACrpaccp5L53ATgZEFumM6I1xbjDL3NVJwZ7T6w21Mlp9RGkP2XJ3fJoNs6da10X6eQJIvvdE9h4KV61mVW60NmDK5an4OhoDSluR07FUHNyfnuGNHDHhBM4WUJDXQ0eJvHQ8oM3IVVT0_A==&amp;p=1&amp;sk=&amp;fvj=0" id="sja1" onclick="setRefineByCookie([]); sjoc('sja1',0); convCtr('SJ')" onmousedown="sjomd('sja1'); clk('sja1');" rel="noopener nofollow" target="_blank" title="Data Scientist - Machine Learning"><b>Data</b> <b>Scientist</b> - Machine Learning</a>
 <br/>
 <div class="sjcl">
 <span class="company">
 Payette Group</span>

  - <span class="location">San Francisco, CA</span>
 </div>
 <div class="paddedSummaryExperience">
 <table border="0" cellpadding="0" cellspacing="0"><tr><td class="snip">
 <span class="summary">
 <b>Data</b> <b>Scientist</b> Machine Learning. Pipeline, machine learning environment, and persistent machine learning models design....</span>
 </td></tr></table>
 <div class="experience">
 <span class="experienceHeader">Desired Experience: </span><span class="experienceList">Machine Learning, R, Big Data, AI, Hadoop, Kafka, Scala, HBase, Java, Spark, Data Warehouse, Docker, Python, Data Science, AWS</span>
 </div>
 </div>
 <div class="sjCapt">
 <div class="result-link-bar-container">
 <div class="result-link-bar"><span class=" sponsoredGray ">Sponsored</span> - <span class="tt_set" id="tt_set_10"><a class="sl resultLink save-job-link " href="#" id="sj_18f56cbc9a1cee95" onclick="changeJobState('18f56cbc9a1cee95', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">save job</a></span><div class="edit_note_content" id="editsaved2_18f56cbc9a1cee95" style="display:none;"></div><script>if (!window['sj_result_18f56cbc9a1cee95']) {window['sj_result_18f56cbc9a1cee95'] = {};}window['sj_result_18f56cbc9a1cee95']['showSource'] = false; window['sj_result_18f56cbc9a1cee95']['source'] = "Payette Group"; window['sj_result_18f56cbc9a1cee95']['loggedIn'] = false; window['sj_result_18f56cbc9a1cee95']['showMyJobsLinks'] = false;window['sj_result_18f56cbc9a1cee95']['undoAction'] = "unsave";window['sj_result_18f56cbc9a1cee95']['jobKey'] = "18f56cbc9a1cee95"; window['sj_result_18f56cbc9a1cee95']['myIndeedAvailable'] = true; window['sj_result_18f56cbc9a1cee95']['showMoreActionsLink'] = false; window['sj_result_18f56cbc9a1cee95']['resultNumber'] = 10; window['sj_result_18f56cbc9a1cee95']['jobStateChangedToSaved'] = false; window['sj_result_18f56cbc9a1cee95']['searchState'] = "q=data scientist&amp;"; window['sj_result_18f56cbc9a1cee95']['basicPermaLink'] = "http://www.indeed.com"; window['sj_result_18f56cbc9a1cee95']['saveJobFailed'] = false; window['sj_result_18f56cbc9a1cee95']['removeJobFailed'] = false; window['sj_result_18f56cbc9a1cee95']['requestPending'] = false; window['sj_result_18f56cbc9a1cee95']['notesEnabled'] = false; window['sj_result_18f56cbc9a1cee95']['currentPage'] = "serp"; window['sj_result_18f56cbc9a1cee95']['sponsored'] = true;window['sj_result_18f56cbc9a1cee95']['showSponsor'] = true;window['sj_result_18f56cbc9a1cee95']['reportJobButtonEnabled'] = false; window['sj_result_18f56cbc9a1cee95']['showMyJobsHired'] = false; window['sj_result_18f56cbc9a1cee95']['showSaveForSponsored'] = true; window['sj_result_18f56cbc9a1cee95']['showJobAge'] = true;</script></div></div>
 <div class="tab-container">
 <div class="sign-in-container result-tab"></div>
 <div class="tellafriend-container result-tab email_job_content"></div>
 </div>
 </div>
 </div>,
 <div class="row result" data-jk="bc6899e70344df6f" id="pj_bc6899e70344df6f">
 <!-- Previously this variable was used to indicate job board jobs, we have replaced that with a more accurate source type check -->
 <a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0BpiC4TBH_FEhhULwqmFTi4rAnCm23Xri47txz_9OEYGyukdfQPOGT3JFQxKXfGMrtETjN0-daZcSOYF4qXNzHfG4fwHB5Op4GWByhiMjJps6LEvuTxUdTl93LGjsW41O-aQff_tSNoU0H7dOnVC00Dr52RcvAiA_R20jBpkdAxlMweg31qD9z8pqOGjpM7vDZA6lNkBn3Gdw3bdyqLMaa56lMdz_Nbb1CzdFbCWjAYXHeZychKj2SioBKgN0mbuPLHhSzpfAEX7NlzRSQMdSmWByy5YdRbckx9XyPHqbwvrxvinUfUI8I-HtYb8yZeN5ZvOKe1HLG4r86EzlNbIDGT44FthNCQP3iv60_LZmE6ynLAAt-wtwZoCshh46CumcmlwUabBbRausDdbIGhXavkrSGPeOkLvdnGfKyRkpV89S-RqZFUVvjmChJmdwwLoa0=&amp;p=2&amp;sk=&amp;fvj=1" id="sja2" onclick="setRefineByCookie([]); sjoc('sja2',0); convCtr('SJ')" onmousedown="sjomd('sja2'); clk('sja2');" rel="noopener nofollow" target="_blank" title="Computational Scientist">Computational <b>Scientist</b></a>
 <br/>
 <div class="sjcl">
 <span class="company">
 Spectral Sciences, Inc.</span>

  - <span class="location">Burlington, MA 01803</span>
 </div>
 <div class="paddedSummaryExperience">
 <table border="0" cellpadding="0" cellspacing="0"><tr><td class="snip">
 <span class="summary">
 Familiarity with <b>data</b> science including analysis and reduction techniques, numerical algorithms, control systems, big <b>data</b> and deep learning concepts....</span>
 </td></tr></table>
 <div class="experience">
 <span class="experienceHeader">Desired Experience: </span><span class="experienceList">Big Data, Data Science</span>
 </div>
 </div>
 <div class="sjCapt">
 <div class="iaP">
 <span class="iaLabel"> Easily apply</span>
 </div>
 <div class="result-link-bar-container">
 <div class="result-link-bar"><span class=" sponsoredGray ">Sponsored</span> - <span class="tt_set" id="tt_set_11"><a class="sl resultLink save-job-link " href="#" id="sj_bc6899e70344df6f" onclick="changeJobState('bc6899e70344df6f', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">save job</a></span><div class="edit_note_content" id="editsaved2_bc6899e70344df6f" style="display:none;"></div><script>if (!window['sj_result_bc6899e70344df6f']) {window['sj_result_bc6899e70344df6f'] = {};}window['sj_result_bc6899e70344df6f']['showSource'] = false; window['sj_result_bc6899e70344df6f']['source'] = "Indeed"; window['sj_result_bc6899e70344df6f']['loggedIn'] = false; window['sj_result_bc6899e70344df6f']['showMyJobsLinks'] = false;window['sj_result_bc6899e70344df6f']['undoAction'] = "unsave";window['sj_result_bc6899e70344df6f']['jobKey'] = "bc6899e70344df6f"; window['sj_result_bc6899e70344df6f']['myIndeedAvailable'] = true; window['sj_result_bc6899e70344df6f']['showMoreActionsLink'] = false; window['sj_result_bc6899e70344df6f']['resultNumber'] = 11; window['sj_result_bc6899e70344df6f']['jobStateChangedToSaved'] = false; window['sj_result_bc6899e70344df6f']['searchState'] = "q=data scientist&amp;"; window['sj_result_bc6899e70344df6f']['basicPermaLink'] = "http://www.indeed.com"; window['sj_result_bc6899e70344df6f']['saveJobFailed'] = false; window['sj_result_bc6899e70344df6f']['removeJobFailed'] = false; window['sj_result_bc6899e70344df6f']['requestPending'] = false; window['sj_result_bc6899e70344df6f']['notesEnabled'] = false; window['sj_result_bc6899e70344df6f']['currentPage'] = "serp"; window['sj_result_bc6899e70344df6f']['sponsored'] = true;window['sj_result_bc6899e70344df6f']['showSponsor'] = true;window['sj_result_bc6899e70344df6f']['reportJobButtonEnabled'] = false; window['sj_result_bc6899e70344df6f']['showMyJobsHired'] = false; window['sj_result_bc6899e70344df6f']['showSaveForSponsored'] = true; window['sj_result_bc6899e70344df6f']['showJobAge'] = true;</script></div></div>
 <div class="tab-container">
 <div class="sign-in-container result-tab"></div>
 <div class="tellafriend-container result-tab email_job_content"></div>
 </div>
 </div>
 </div>,
 <div class="row result" data-jk="d78dd90b7b326736" id="pj_d78dd90b7b326736">
 <!-- Previously this variable was used to indicate job board jobs, we have replaced that with a more accurate source type check -->
 <a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0CAlkOQ68lM1c9i6UFrT9KS7Op1QrxrLywTI0eT6e8eGcuEXUGW8K70A48jTFIuhMh1xRZu16vXzL2iyjT1MeqkKQrpG9i-hsMGZyuMTSlkI0bhE2Rn-aB_FMuEfHLAa6r9sbsllPeDQmPgv4jSliqgQ6ZIbdo_PUT54XLX8f8G5i8AzzaSAJ7IoAqXolk9rtEEQlLHaunu25_rrWf3nzuaqhPt8jWBEPRGr6QJFJAxwuHGFSH4U_PiTgDrwqjnw5Svk215HYvg6AMunIt9qqXO7VUETc6SSwQYEJkZMNrCUHcNSSKoIH3wGwgvZVC1-FxA73uJLfZ4eL8LPnVzM1VmO8uhO19GPtCWLELzApnGw3Qpi-j7_cZiOTDSeCniAdXTvdoZXaxQHg9VQiKQFCUAg2iidfbbjTYXqg1A6UBysORdaCgaUlcKPi9NEHbb-N0p-KwE9RKCjv5INe3tABNWDwfKX8qunAAIYEK1ssMy0Bv2Yl-Kz_gdzbrWk7xwCwBh8PDrDLiOVk7CMbnfJPDkD6IuJc3tJ8zcMX8B3wZtJuWJK3rAT0iUYLZL2Z5K3uySOkQm-oSrwty5cVcCtDlNHKUK-3jQIf3Ygcpc1cKLGkA-JlTYu5RXMwMS69NHUdH0F6TZ8bI3U1BuClZ1mslg__DVw67tkwz_uK9h9xmQWR_7WrT_Fzof9RMWLTMV3e6RfFEJlL5zyq5Nr2phB12vrcaFyknUfU1DeWTCT2r-6W8O7FUx2fvH6HAO9OLeZNeiEDyFjThlld9oaMvh8i0Pe0fBylo1Cko70lzpLwbzEYi9TgFK5WPACT3jv3tN3Nd0JmjUL3Sd6JvGJgDL-j0r6MEjF6UMzADgf9CFmOA5DWZwfu0FzdDqXzL4i3PjrA6vlwJKGjS0hTPu_m50lfKnVI_Ehg6JENCW9gDo_QC9HzccJTKNsKsIsWpIT_BFyrUQj1kfTcKnpu8DsvxY2colZQtwO3KcrUSrE5csamZBC8a8ruDG7ojQnf1MuV96nrauAtfkNOpcBiAAzdGqMPoWHoxCMCNemMbH-NWZzOunZjTm65ukQocsgwC9U1dJkK099WkOxbviCLITHHHAdUQI4MW2WoblMnW1cG_Kg_c_JA==&amp;p=4&amp;sk=&amp;fvj=0" id="sja4" onclick="setRefineByCookie([]); sjoc('sja4',0); convCtr('SJ')" onmousedown="sjomd('sja4'); clk('sja4');" rel="noopener nofollow" target="_blank" title="Machine Learning Engineer - Entry Level">Machine Learning Engineer - Entry Level</a>
 <br/>
 <div class="sjcl">
 <span class="company">
 <a class="turnstileLink" data-tn-element="companyName" href="/cmp/Usaa" onmousedown="this.href = appendParamsOnce(this.href, 'from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=d78dd90b7b326736&amp;jcid=3a1edc2d763c4288')" rel="noopener" target="_blank">
 USAA</a></span>

  - <a class="ratingsLabel" data-tn-element="reviewStars" data-tn-variant="cmplinktst2" href="/cmp/Usaa/reviews" onmousedown="this.href = appendParamsOnce(this.href, '?campaignid=cmplinktst2&amp;from=SERP&amp;jt=Machine+Learning+Engineer+-+Entry+Level&amp;fromjk=d78dd90b7b326736&amp;jcid=3a1edc2d763c4288');" rel="noopener" target="_blank" title="Usaa reviews">
 <span class="ratings"><span class="rating" style="width:51.0px"><!-- --></span></span>
 <span class="slNoUnderline">1,035 reviews</span></a>
  - <span class="location">San Antonio, TX</span>
 </div>
 <div class="paddedSummaryExperience">
 <table border="0" cellpadding="0" cellspacing="0"><tr><td class="snip">
 <span class="summary">
 Exposure to <b>Data</b> Transformation, <b>Data</b> Visualization and Big <b>Data</b> platforms. Up to 2 years of relevant cloud computing or machine learning experience....</span>
 </td></tr></table>
 <div class="experience">
 <span class="experienceHeader">Desired Experience: </span><span class="experienceList">Agile, Machine Learning, Perl, R, Azure, Big Data, Hadoop, Kafka, Java, Spark, Python, AWS</span>
 </div>
 </div>
 <div class="sjCapt">
 <div class="result-link-bar-container">
 <div class="result-link-bar"><span class=" sponsoredGray ">Sponsored</span> - <span class="tt_set" id="tt_set_13"><a class="sl resultLink save-job-link " href="#" id="sj_d78dd90b7b326736" onclick="changeJobState('d78dd90b7b326736', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">save job</a></span><div class="edit_note_content" id="editsaved2_d78dd90b7b326736" style="display:none;"></div><script>if (!window['sj_result_d78dd90b7b326736']) {window['sj_result_d78dd90b7b326736'] = {};}window['sj_result_d78dd90b7b326736']['showSource'] = false; window['sj_result_d78dd90b7b326736']['source'] = "USAA"; window['sj_result_d78dd90b7b326736']['loggedIn'] = false; window['sj_result_d78dd90b7b326736']['showMyJobsLinks'] = false;window['sj_result_d78dd90b7b326736']['undoAction'] = "unsave";window['sj_result_d78dd90b7b326736']['jobKey'] = "d78dd90b7b326736"; window['sj_result_d78dd90b7b326736']['myIndeedAvailable'] = true; window['sj_result_d78dd90b7b326736']['showMoreActionsLink'] = false; window['sj_result_d78dd90b7b326736']['resultNumber'] = 13; window['sj_result_d78dd90b7b326736']['jobStateChangedToSaved'] = false; window['sj_result_d78dd90b7b326736']['searchState'] = "q=data scientist&amp;"; window['sj_result_d78dd90b7b326736']['basicPermaLink'] = "http://www.indeed.com"; window['sj_result_d78dd90b7b326736']['saveJobFailed'] = false; window['sj_result_d78dd90b7b326736']['removeJobFailed'] = false; window['sj_result_d78dd90b7b326736']['requestPending'] = false; window['sj_result_d78dd90b7b326736']['notesEnabled'] = false; window['sj_result_d78dd90b7b326736']['currentPage'] = "serp"; window['sj_result_d78dd90b7b326736']['sponsored'] = true;window['sj_result_d78dd90b7b326736']['showSponsor'] = true;window['sj_result_d78dd90b7b326736']['reportJobButtonEnabled'] = false; window['sj_result_d78dd90b7b326736']['showMyJobsHired'] = false; window['sj_result_d78dd90b7b326736']['showSaveForSponsored'] = true; window['sj_result_d78dd90b7b326736']['showJobAge'] = true;</script></div></div>
 <div class="tab-container">
 <div class="sign-in-container result-tab"></div>
 <div class="tellafriend-container result-tab email_job_content"></div>
 </div>
 </div>
 </div>]

# 3. Distributions

http://www.cs.elte.hu/~mesti/valszam/kepletek.pdf

### Beta distribution:
$B(\alpha, \beta) $

$\alpha = 1 + (\#successes)$

$\beta = 1 + (\#failures)$

http://stats.stackexchange.com/a/47782

# 4. Hypothesis testing

https://github.com/gschool/DSI_Lectures/blob/master/ab-testing/tammy_lee/lecture.pdf