In [1]:
import scipy.stats as scs
import numpy as np
import pandas as pd

# Sandwiches

In [4]:
meat = np.random.choice(['turkey','ham','roast beef'], p=[0.6,0.1,0.3], size=12)
bread = np.random.choice(['white','wheat','dutch crunch'], p=[0.4,0.4,0.2], size=12)
cheese = np.random.choice(['Nope', 'Provolone', 'Cheddar'], p=[0.2, 0.3, 0.5], size=12)
mustard = np.random.choice([True, False], p=[0.75, 0.25], size=12)
sandwiches = pd.DataFrame(data={'meat':meat, 'bread':bread, 'cheese':cheese, 'mustard?':mustard})

In [5]:
sandwiches

           bread     cheese        meat  mustard?
0   dutch crunch       Nope      turkey      True
1          wheat  Provolone  roast beef     False
2          white    Cheddar      turkey     False
3          wheat       Nope  roast beef      True
4          white    Cheddar      turkey      True
5          white    Cheddar      turkey      True
6   dutch crunch       Nope      turkey      True
7          white  Provolone      turkey     False
8   dutch crunch    Cheddar  roast beef      True
9          wheat    Cheddar  roast beef      True
10         wheat    Cheddar      turkey      True
11  dutch crunch       Nope  roast beef      True

# Horses & Dogs

In [62]:
horse_wt = scs.distributions.norm(50,15).rvs(size=12)
dog_wt = scs.distributions.norm(30,10).rvs(size=12)
horse_color = np.random.choice(['white', 'black', 'brown'], p=[0.1, 0.3, 0.6], size=12)
dog_color = np.random.choice(['white', 'black', 'brown'], p=[0.4, 0.3, 0.3], size=12)

In [63]:
df_horse = pd.DataFrame(data={'weight':horse_wt, 'color':horse_color})
df_dog = pd.DataFrame(data={'weight':dog_wt, 'color':dog_color})

In [64]:
df_horse['Animal'] = 'horse'

In [65]:
df_dog['Animal'] = 'dog'

In [66]:
df = pd.concat([df_horse, df_dog]).sample(frac=1).reset_index(drop=True)

In [67]:
df

    color     weight Animal
0   brown  60.451912  horse
1   brown  30.527861  horse
2   white  27.939861    dog
3   white  34.440366    dog
4   black  17.592712    dog
5   brown  27.664178  horse
6   brown  38.311276  horse
7   white  44.475312  horse
8   black  78.256501  horse
9   brown  28.255640  horse
10  brown  89.298061  horse
11  brown  33.181906    dog
12  white  25.968589    dog
13  black  28.124735    dog
14  white  40.588423    dog
15  black  53.401501  horse
16  black  27.981009    dog
17  brown  26.108211    dog
18  black  26.948511    dog
19  brown  38.081873  horse
20  brown  35.602383    dog
21  brown  55.248564  horse
22  white  41.247866    dog
23  brown  49.845283  horse

In [76]:
df[(df['color']=='white')]

    color     weight Animal
2   white  27.939861    dog
3   white  34.440366    dog
7   white  44.475312  horse
12  white  25.968589    dog
14  white  40.588423    dog
22  white  41.247866    dog

In [79]:
df[(df['Animal']=='horse')]

    color     weight Animal
0   brown  60.451912  horse
1   brown  30.527861  horse
5   brown  27.664178  horse
6   brown  38.311276  horse
7   white  44.475312  horse
8   black  78.256501  horse
9   brown  28.255640  horse
10  brown  89.298061  horse
15  black  53.401501  horse
19  brown  38.081873  horse
21  brown  55.248564  horse
23  brown  49.845283  horse